<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TransfersStatusCreateDlg" widgetVar="TransfersStatusCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.CreateTransfersStatusTitle}">
            <h:form id="TransfersStatusCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{transfersStatusController.selected != null}">
                        <p:outputLabel value="#{configs.CreateTransfersStatusLabel_statusID}" for="statusID" />
                        <p:inputText id="statusID" value="#{transfersStatusController.selected.statusID}" title="#{configs.CreateTransfersStatusTitle_statusID}" required="true" requiredMessage="#{configs.CreateTransfersStatusRequiredMessage_statusID}"/>
                        <p:outputLabel value="#{configs.CreateTransfersStatusLabel_statusName}" for="statusName" />
                        <p:inputText id="statusName" value="#{transfersStatusController.selected.statusName}" title="#{configs.CreateTransfersStatusTitle_statusName}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{transfersStatusController.create}" value="#{configs.Save}" update="display,:TransfersStatusListForm:datalist,:growl" oncomplete="handleSubmit(args,'TransfersStatusCreateDialog');"/>
                    <p:commandButton value="#{configs.Cancel}" onclick="TransfersStatusCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
