<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TransfersStatusViewDlg" widgetVar="TransfersStatusViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.ViewTransfersStatusTitle}">
            <h:form id="TransfersStatusViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{transfersStatusController.selected != null}">
                        <h:outputText value="#{configs.ViewTransfersStatusLabel_statusID}"/>
                        <h:outputText value="#{transfersStatusController.selected.statusID}" title="#{configs.ViewTransfersStatusTitle_statusID}"/>
                        <h:outputText value="#{configs.ViewTransfersStatusLabel_statusName}"/>
                        <h:outputText value="#{transfersStatusController.selected.statusName}" title="#{configs.ViewTransfersStatusTitle_statusName}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{configs.Close}" onclick="TransfersStatusViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
