<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RoleSubModulePermissionCreateDlg" widgetVar="RoleSubModulePermissionCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.CreateRoleSubModulePermissionTitle}">
            <h:form id="RoleSubModulePermissionCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{roleSubModulePermissionController.selected != null}">
                        <p:outputLabel value="#{configs.CreateRoleSubModulePermissionLabel_subModulePermissionID}" for="subModulePermissionID" />
                        <p:inputText id="subModulePermissionID" value="#{roleSubModulePermissionController.selected.subModulePermissionID}" title="#{configs.CreateRoleSubModulePermissionTitle_subModulePermissionID}" required="true" requiredMessage="#{configs.CreateRoleSubModulePermissionRequiredMessage_subModulePermissionID}"/>
                        <p:outputLabel value="#{configs.CreateRoleSubModulePermissionLabel_subModuleInfo}" for="subModuleInfo" />
                        <p:selectOneMenu id="subModuleInfo" value="#{roleSubModulePermissionController.selected.subModuleInfo}" >
                            <f:selectItems value="#{subModulesController.itemsAvailableSelectOne}"
                                           var="subModuleInfoItem"
                                           itemValue="#{subModuleInfoItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{configs.CreateRoleSubModulePermissionLabel_moduleSInfo}" for="moduleSInfo" />
                        <p:selectOneMenu id="moduleSInfo" value="#{roleSubModulePermissionController.selected.moduleSInfo}" >
                            <f:selectItems value="#{modulesController.itemsAvailableSelectOne}"
                                           var="moduleSInfoItem"
                                           itemValue="#{moduleSInfoItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{configs.CreateRoleSubModulePermissionLabel_roleSMInfo}" for="roleSMInfo" />
                        <p:selectOneMenu id="roleSMInfo" value="#{roleSubModulePermissionController.selected.roleSMInfo}" >
                            <f:selectItems value="#{rolesCenterController.itemsAvailableSelectOne}"
                                           var="roleSMInfoItem"
                                           itemValue="#{roleSMInfoItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{roleSubModulePermissionController.create}" value="#{configs.Save}" update="display,:RoleSubModulePermissionListForm:datalist,:growl" oncomplete="handleSubmit(args,'RoleSubModulePermissionCreateDialog');"/>
                    <p:commandButton value="#{configs.Cancel}" onclick="RoleSubModulePermissionCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
