<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RoleSubModulePermissionViewDlg" widgetVar="RoleSubModulePermissionViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.ViewRoleSubModulePermissionTitle}">
            <h:form id="RoleSubModulePermissionViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{roleSubModulePermissionController.selected != null}">
                        <h:outputText value="#{configs.ViewRoleSubModulePermissionLabel_subModulePermissionID}"/>
                        <h:outputText value="#{roleSubModulePermissionController.selected.subModulePermissionID}" title="#{configs.ViewRoleSubModulePermissionTitle_subModulePermissionID}"/>
                        <h:outputText value="#{configs.ViewRoleSubModulePermissionLabel_subModuleInfo}"/>
                        <h:outputText value="#{roleSubModulePermissionController.selected.subModuleInfo}" title="#{configs.ViewRoleSubModulePermissionTitle_subModuleInfo}"/>
                        <h:outputText value="#{configs.ViewRoleSubModulePermissionLabel_moduleSInfo}"/>
                        <h:outputText value="#{roleSubModulePermissionController.selected.moduleSInfo}" title="#{configs.ViewRoleSubModulePermissionTitle_moduleSInfo}"/>
                        <h:outputText value="#{configs.ViewRoleSubModulePermissionLabel_roleSMInfo}"/>
                        <h:outputText value="#{roleSubModulePermissionController.selected.roleSMInfo}" title="#{configs.ViewRoleSubModulePermissionTitle_roleSMInfo}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{configs.Close}" onclick="RoleSubModulePermissionViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
