<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CountriesCreateDlg" widgetVar="CountriesCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.CreateCountriesTitle}">
            <h:form id="CountriesCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{countriesController.selected != null}">
                        <p:outputLabel value="#{configs.CreateCountriesLabel_countryID}" for="countryID" />
                        <p:inputText id="countryID" value="#{countriesController.selected.countryID}" title="#{configs.CreateCountriesTitle_countryID}" required="true" requiredMessage="#{configs.CreateCountriesRequiredMessage_countryID}"/>
                        <p:outputLabel value="#{configs.CreateCountriesLabel_countyISO2Code}" for="countyISO2Code" />
                        <p:inputText id="countyISO2Code" value="#{countriesController.selected.countyISO2Code}" title="#{configs.CreateCountriesTitle_countyISO2Code}" />
                        <p:outputLabel value="#{configs.CreateCountriesLabel_countryBaseISOCurrency}" for="countryBaseISOCurrency" />
                        <p:inputText id="countryBaseISOCurrency" value="#{countriesController.selected.countryBaseISOCurrency}" title="#{configs.CreateCountriesTitle_countryBaseISOCurrency}" />
                        <p:outputLabel value="#{configs.CreateCountriesLabel_countryName}" for="countryName" />
                        <p:inputText id="countryName" value="#{countriesController.selected.countryName}" title="#{configs.CreateCountriesTitle_countryName}" />
                        <p:outputLabel value="#{configs.CreateCountriesLabel_countryNumber}" for="countryNumber" />
                        <p:inputText id="countryNumber" value="#{countriesController.selected.countryNumber}" title="#{configs.CreateCountriesTitle_countryNumber}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{countriesController.create}" value="#{configs.Save}" update="display,:CountriesListForm:datalist,:growl" oncomplete="handleSubmit(args,'CountriesCreateDialog');"/>
                    <p:commandButton value="#{configs.Cancel}" onclick="CountriesCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
