<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CountriesViewDlg" widgetVar="CountriesViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.ViewCountriesTitle}">
            <h:form id="CountriesViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{countriesController.selected != null}">
                        <h:outputText value="#{configs.ViewCountriesLabel_countryID}"/>
                        <h:outputText value="#{countriesController.selected.countryID}" title="#{configs.ViewCountriesTitle_countryID}"/>
                        <h:outputText value="#{configs.ViewCountriesLabel_countyISO2Code}"/>
                        <h:outputText value="#{countriesController.selected.countyISO2Code}" title="#{configs.ViewCountriesTitle_countyISO2Code}"/>
                        <h:outputText value="#{configs.ViewCountriesLabel_countryBaseISOCurrency}"/>
                        <h:outputText value="#{countriesController.selected.countryBaseISOCurrency}" title="#{configs.ViewCountriesTitle_countryBaseISOCurrency}"/>
                        <h:outputText value="#{configs.ViewCountriesLabel_countryName}"/>
                        <h:outputText value="#{countriesController.selected.countryName}" title="#{configs.ViewCountriesTitle_countryName}"/>
                        <h:outputText value="#{configs.ViewCountriesLabel_countryNumber}"/>
                        <h:outputText value="#{countriesController.selected.countryNumber}" title="#{configs.ViewCountriesTitle_countryNumber}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{configs.Close}" onclick="CountriesViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
