<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CardTypesCreateDlg" widgetVar="CardTypesCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.CreateCardTypesTitle}">
            <h:form id="CardTypesCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{cardTypesController.selected != null}">
                        <p:outputLabel value="#{configs.CreateCardTypesLabel_cardTypesID}" for="cardTypesID" />
                        <p:inputText id="cardTypesID" value="#{cardTypesController.selected.cardTypesID}" title="#{configs.CreateCardTypesTitle_cardTypesID}" required="true" requiredMessage="#{configs.CreateCardTypesRequiredMessage_cardTypesID}"/>
                        <p:outputLabel value="#{configs.CreateCardTypesLabel_cardTypeName}" for="cardTypeName" />
                        <p:inputText id="cardTypeName" value="#{cardTypesController.selected.cardTypeName}" title="#{configs.CreateCardTypesTitle_cardTypeName}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{cardTypesController.create}" value="#{configs.Save}" update="display,:CardTypesListForm:datalist,:growl" oncomplete="handleSubmit(args,'CardTypesCreateDialog');"/>
                    <p:commandButton value="#{configs.Cancel}" onclick="CardTypesCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
