<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CardTypesEditDlg" widgetVar="CardTypesEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.EditCardTypesTitle}">
            <h:form id="CardTypesEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{cardTypesController.selected != null}">
                        <p:outputLabel value="#{configs.EditCardTypesLabel_cardTypesID}" for="cardTypesID" />
                        <p:inputText id="cardTypesID" value="#{cardTypesController.selected.cardTypesID}" title="#{configs.EditCardTypesTitle_cardTypesID}" required="true" requiredMessage="#{configs.EditCardTypesRequiredMessage_cardTypesID}"/>
                        <p:outputLabel value="#{configs.EditCardTypesLabel_cardTypeName}" for="cardTypeName" />
                        <p:inputText id="cardTypeName" value="#{cardTypesController.selected.cardTypeName}" title="#{configs.EditCardTypesTitle_cardTypeName}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{cardTypesController.update}" value="#{configs.Save}" update="display,:CardTypesListForm:datalist,:growl" oncomplete="handleSubmit(args, 'CardTypesEditDialog');"/>
                    <p:commandButton value="#{configs.Cancel}" onclick="CardTypesEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
