<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/WEB-INF/templates/Framework.xhtml">


        <ui:define name="body">

            <h3 class="page-title">
                Welcome to Epay Kenya <small>the better option</small>
            </h3>
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="#">Home</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Cards Types</a>
                    </li>
                </ul>

            </div>
            <!-- END PAGE HEADER-->

            <h1 class="page-header "> <i class="fa fa-tachometer"></i> Cards types</h1>
            <div class="row">
                <div class="col-md-12">
                    <div class="note note-success">
                        <p>
                            Please click <i class="icon-logout"></i> icon on the header's right top to toggle the quick sidebar.
                        </p>
                    </div>

                    <h:form id="CardTypesListForm">

                        <p:dataTable id="datalist" value="#{cardTypesController.items}" var="item"
                                     selectionMode="single" selection="#{cardTypesController.selected}"
                                     paginator="true"
                                     rowKey="#{item.cardTypesID}"
                                     rows="10" paginatorPosition="bottom"
                                     rowsPerPageTemplate="10,20,30,40,50">

                            <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                            <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListCardTypesTitle_cardTypesID}"/>
                                </f:facet>
                                <h:outputText value="#{item.cardTypesID}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListCardTypesTitle_cardTypeName}"/>
                                </f:facet>
                                <h:outputText value="#{item.cardTypeName}"/>
                            </p:column>
                            <f:facet name="footer">
                                <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{configs.Create}" actionListener="#{cardTypesController.prepareCreate}" update=":CardTypesCreateForm" oncomplete="PF('CardTypesCreateDialog').show()"/>
                                <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{configs.View}" update=":CardTypesViewForm" oncomplete="PF('CardTypesViewDialog').show()" disabled="#{empty cardTypesController.selected}"/>
                                <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{configs.Edit}" update=":CardTypesEditForm" oncomplete="PF('CardTypesEditDialog').show()" disabled="#{empty cardTypesController.selected}"/>
                                <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{configs.Delete}" actionListener="#{cardTypesController.destroy}" update=":growl,datalist" disabled="#{empty cardTypesController.selected}"/>
                            </f:facet>
                        </p:dataTable>

                    </h:form>

                    <ui:include src="Create.xhtml"/>
                    <ui:include src="Edit.xhtml"/>
                    <ui:include src="View.xhtml"/>

                </div>
            </div>

        </ui:define>

    </ui:composition>    
</html>