<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CardTypesViewDlg" widgetVar="CardTypesViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.ViewCardTypesTitle}">
            <h:form id="CardTypesViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{cardTypesController.selected != null}">
                        <h:outputText value="#{configs.ViewCardTypesLabel_cardTypesID}"/>
                        <h:outputText value="#{cardTypesController.selected.cardTypesID}" title="#{configs.ViewCardTypesTitle_cardTypesID}"/>
                        <h:outputText value="#{configs.ViewCardTypesLabel_cardTypeName}"/>
                        <h:outputText value="#{cardTypesController.selected.cardTypeName}" title="#{configs.ViewCardTypesTitle_cardTypeName}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{configs.Close}" onclick="CardTypesViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
