<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CustomerCreateDlg" widgetVar="CustomerCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.CreateCustomerTitle}">
            <h:form id="CustomerCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{customerController.selected != null}">
                        <p:outputLabel value="#{configs.CreateCustomerLabel_customerID}" for="customerID" />
                        <p:inputText id="customerID" value="#{customerController.selected.customerID}" title="#{configs.CreateCustomerTitle_customerID}" required="true" requiredMessage="#{configs.CreateCustomerRequiredMessage_customerID}"/>
                        <p:outputLabel value="#{configs.CreateCustomerLabel_firstName}" for="firstName" />
                        <p:inputText id="firstName" value="#{customerController.selected.firstName}" title="#{configs.CreateCustomerTitle_firstName}" />
                        <p:outputLabel value="#{configs.CreateCustomerLabel_middleName}" for="middleName" />
                        <p:inputText id="middleName" value="#{customerController.selected.middleName}" title="#{configs.CreateCustomerTitle_middleName}" />
                        <p:outputLabel value="#{configs.CreateCustomerLabel_otherName}" for="otherName" />
                        <p:inputText id="otherName" value="#{customerController.selected.otherName}" title="#{configs.CreateCustomerTitle_otherName}" />
                        <p:outputLabel value="#{configs.CreateCustomerLabel_city}" for="city" />
                        <p:inputText id="city" value="#{customerController.selected.city}" title="#{configs.CreateCustomerTitle_city}" />
                        <p:outputLabel value="#{configs.CreateCustomerLabel_countryState}" for="countryState" />
                        <p:inputText id="countryState" value="#{customerController.selected.countryState}" title="#{configs.CreateCustomerTitle_countryState}" />
                        <p:outputLabel value="#{configs.CreateCustomerLabel_address}" for="address" />
                        <p:inputText id="address" value="#{customerController.selected.address}" title="#{configs.CreateCustomerTitle_address}" />
                        <p:outputLabel value="#{configs.CreateCustomerLabel_email}" for="email" />
                        <p:inputText id="email" value="#{customerController.selected.email}" title="#{configs.CreateCustomerTitle_email}" />
                        <p:outputLabel value="#{configs.CreateCustomerLabel_phoneNumber}" for="phoneNumber" />
                        <p:inputText id="phoneNumber" value="#{customerController.selected.phoneNumber}" title="#{configs.CreateCustomerTitle_phoneNumber}" />
                        <p:outputLabel value="#{configs.CreateCustomerLabel_zipCode}" for="zipCode" />
                        <p:inputText id="zipCode" value="#{customerController.selected.zipCode}" title="#{configs.CreateCustomerTitle_zipCode}" />
                        <p:outputLabel value="#{configs.CreateCustomerLabel_nationality}" for="nationality" />
                        <p:selectOneMenu id="nationality" value="#{customerController.selected.nationality}" >
                            <f:selectItems value="#{countriesController.itemsAvailableSelectOne}"
                                           var="nationalityItem"
                                           itemValue="#{nationalityItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{customerController.create}" value="#{configs.Save}" update="display,:CustomerListForm:datalist,:growl" oncomplete="handleSubmit(args,'CustomerCreateDialog');"/>
                    <p:commandButton value="#{configs.Cancel}" onclick="CustomerCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
