<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CustomerEditDlg" widgetVar="CustomerEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.EditCustomerTitle}">
            <h:form id="CustomerEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{customerController.selected != null}">
                        <p:outputLabel value="#{configs.EditCustomerLabel_customerID}" for="customerID" />
                        <p:inputText id="customerID" value="#{customerController.selected.customerID}" title="#{configs.EditCustomerTitle_customerID}" required="true" requiredMessage="#{configs.EditCustomerRequiredMessage_customerID}"/>
                        <p:outputLabel value="#{configs.EditCustomerLabel_firstName}" for="firstName" />
                        <p:inputText id="firstName" value="#{customerController.selected.firstName}" title="#{configs.EditCustomerTitle_firstName}" />
                        <p:outputLabel value="#{configs.EditCustomerLabel_middleName}" for="middleName" />
                        <p:inputText id="middleName" value="#{customerController.selected.middleName}" title="#{configs.EditCustomerTitle_middleName}" />
                        <p:outputLabel value="#{configs.EditCustomerLabel_otherName}" for="otherName" />
                        <p:inputText id="otherName" value="#{customerController.selected.otherName}" title="#{configs.EditCustomerTitle_otherName}" />
                        <p:outputLabel value="#{configs.EditCustomerLabel_city}" for="city" />
                        <p:inputText id="city" value="#{customerController.selected.city}" title="#{configs.EditCustomerTitle_city}" />
                        <p:outputLabel value="#{configs.EditCustomerLabel_countryState}" for="countryState" />
                        <p:inputText id="countryState" value="#{customerController.selected.countryState}" title="#{configs.EditCustomerTitle_countryState}" />
                        <p:outputLabel value="#{configs.EditCustomerLabel_address}" for="address" />
                        <p:inputText id="address" value="#{customerController.selected.address}" title="#{configs.EditCustomerTitle_address}" />
                        <p:outputLabel value="#{configs.EditCustomerLabel_email}" for="email" />
                        <p:inputText id="email" value="#{customerController.selected.email}" title="#{configs.EditCustomerTitle_email}" />
                        <p:outputLabel value="#{configs.EditCustomerLabel_phoneNumber}" for="phoneNumber" />
                        <p:inputText id="phoneNumber" value="#{customerController.selected.phoneNumber}" title="#{configs.EditCustomerTitle_phoneNumber}" />
                        <p:outputLabel value="#{configs.EditCustomerLabel_zipCode}" for="zipCode" />
                        <p:inputText id="zipCode" value="#{customerController.selected.zipCode}" title="#{configs.EditCustomerTitle_zipCode}" />
                        <p:outputLabel value="#{configs.EditCustomerLabel_nationality}" for="nationality" />
                        <p:selectOneMenu id="nationality" value="#{customerController.selected.nationality}" >
                            <f:selectItem itemLabel="#{configs.SelectOneMessage}"/>
                            <f:selectItems value="#{countriesController.itemsAvailableSelectOne}"
                                           var="nationalityItem"
                                           itemValue="#{nationalityItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{customerController.update}" value="#{configs.Save}" update="display,:CustomerListForm:datalist,:growl" oncomplete="handleSubmit(args, 'CustomerEditDialog');"/>
                    <p:commandButton value="#{configs.Cancel}" onclick="CustomerEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
