<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/WEB-INF/templates/Framework.xhtml">


        <ui:define name="body">

            <h3 class="page-title">
                Welcome to Epay Kenya <small>the better option</small>
            </h3>
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="#">Home</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Customers</a>
                    </li>
                </ul>

            </div>
            <!-- END PAGE HEADER-->

            <h1 class="page-header "> <i class="fa fa-tachometer"></i> Customers</h1>
            <div class="row">
                <div class="col-md-12">
                    <div class="note note-success">
                        <p>
                            Please click <i class="icon-logout"></i> icon on the header's right top to toggle the quick sidebar.
                        </p>
                    </div>

                    <h:form id="CustomerListForm">

                        <p:dataTable id="datalist" value="#{customerController.items}" var="item"
                                     selectionMode="single" selection="#{customerController.selected}"
                                     paginator="true"
                                     rowKey="#{item.customerID}"
                                     rows="10"
                                     rowsPerPageTemplate="10,20,30,40,50"
                                     >

                            <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                            <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListCustomerTitle_customerID}"/>
                                </f:facet>
                                <h:outputText value="#{item.customerID}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListCustomerTitle_firstName}"/>
                                </f:facet>
                                <h:outputText value="#{item.firstName}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListCustomerTitle_middleName}"/>
                                </f:facet>
                                <h:outputText value="#{item.middleName}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListCustomerTitle_otherName}"/>
                                </f:facet>
                                <h:outputText value="#{item.otherName}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListCustomerTitle_city}"/>
                                </f:facet>
                                <h:outputText value="#{item.city}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListCustomerTitle_countryState}"/>
                                </f:facet>
                                <h:outputText value="#{item.countryState}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListCustomerTitle_address}"/>
                                </f:facet>
                                <h:outputText value="#{item.address}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListCustomerTitle_email}"/>
                                </f:facet>
                                <h:outputText value="#{item.email}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListCustomerTitle_phoneNumber}"/>
                                </f:facet>
                                <h:outputText value="#{item.phoneNumber}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListCustomerTitle_zipCode}"/>
                                </f:facet>
                                <h:outputText value="#{item.zipCode}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListCustomerTitle_nationality}"/>
                                </f:facet>
                                <h:outputText value="#{item.nationality}"/>
                            </p:column>
                            <f:facet name="footer">
                                <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{configs.Create}" actionListener="#{customerController.prepareCreate}" update=":CustomerCreateForm" oncomplete="PF('CustomerCreateDialog').show()"/>
                                <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{configs.View}" update=":CustomerViewForm" oncomplete="PF('CustomerViewDialog').show()" disabled="#{empty customerController.selected}"/>
                                <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{configs.Edit}" update=":CustomerEditForm" oncomplete="PF('CustomerEditDialog').show()" disabled="#{empty customerController.selected}"/>
                                <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{configs.Delete}" actionListener="#{customerController.destroy}" update=":growl,datalist" disabled="#{empty customerController.selected}"/>
                            </f:facet>
                        </p:dataTable>

                    </h:form>

                    <ui:include src="Create.xhtml"/>
                    <ui:include src="Edit.xhtml"/>
                    <ui:include src="View.xhtml"/>

                </div>
            </div>

        </ui:define>

    </ui:composition>    
</html>