<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CustomerViewDlg" widgetVar="CustomerViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.ViewCustomerTitle}">
            <h:form id="CustomerViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{customerController.selected != null}">
                        <h:outputText value="#{configs.ViewCustomerLabel_customerID}"/>
                        <h:outputText value="#{customerController.selected.customerID}" title="#{configs.ViewCustomerTitle_customerID}"/>
                        <h:outputText value="#{configs.ViewCustomerLabel_firstName}"/>
                        <h:outputText value="#{customerController.selected.firstName}" title="#{configs.ViewCustomerTitle_firstName}"/>
                        <h:outputText value="#{configs.ViewCustomerLabel_middleName}"/>
                        <h:outputText value="#{customerController.selected.middleName}" title="#{configs.ViewCustomerTitle_middleName}"/>
                        <h:outputText value="#{configs.ViewCustomerLabel_otherName}"/>
                        <h:outputText value="#{customerController.selected.otherName}" title="#{configs.ViewCustomerTitle_otherName}"/>
                        <h:outputText value="#{configs.ViewCustomerLabel_city}"/>
                        <h:outputText value="#{customerController.selected.city}" title="#{configs.ViewCustomerTitle_city}"/>
                        <h:outputText value="#{configs.ViewCustomerLabel_countryState}"/>
                        <h:outputText value="#{customerController.selected.countryState}" title="#{configs.ViewCustomerTitle_countryState}"/>
                        <h:outputText value="#{configs.ViewCustomerLabel_address}"/>
                        <h:outputText value="#{customerController.selected.address}" title="#{configs.ViewCustomerTitle_address}"/>
                        <h:outputText value="#{configs.ViewCustomerLabel_email}"/>
                        <h:outputText value="#{customerController.selected.email}" title="#{configs.ViewCustomerTitle_email}"/>
                        <h:outputText value="#{configs.ViewCustomerLabel_phoneNumber}"/>
                        <h:outputText value="#{customerController.selected.phoneNumber}" title="#{configs.ViewCustomerTitle_phoneNumber}"/>
                        <h:outputText value="#{configs.ViewCustomerLabel_zipCode}"/>
                        <h:outputText value="#{customerController.selected.zipCode}" title="#{configs.ViewCustomerTitle_zipCode}"/>
                        <h:outputText value="#{configs.ViewCustomerLabel_nationality}"/>
                        <h:outputText value="#{customerController.selected.nationality}" title="#{configs.ViewCustomerTitle_nationality}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{configs.Close}" onclick="CustomerViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
