<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EmployeesCreateDlg" widgetVar="EmployeesCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.CreateEmployeesTitle}">
            <h:form id="EmployeesCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{employeesController.selected != null}">
                        <p:outputLabel value="#{configs.CreateEmployeesLabel_employeesID}" for="employeesID" />
                        <p:inputText id="employeesID" value="#{employeesController.selected.employeesID}" title="#{configs.CreateEmployeesTitle_employeesID}" required="true" requiredMessage="#{configs.CreateEmployeesRequiredMessage_employeesID}"/>
                        <p:outputLabel value="#{configs.CreateEmployeesLabel_employeeCode}" for="employeeCode" />
                        <p:inputText id="employeeCode" value="#{employeesController.selected.employeeCode}" title="#{configs.CreateEmployeesTitle_employeeCode}" />
                        <p:outputLabel value="#{configs.CreateEmployeesLabel_employeeName}" for="employeeName" />
                        <p:inputText id="employeeName" value="#{employeesController.selected.employeeName}" title="#{configs.CreateEmployeesTitle_employeeName}" />
                        <p:outputLabel value="#{configs.CreateEmployeesLabel_employeeEmailAddress}" for="employeeEmailAddress" />
                        <p:inputText id="employeeEmailAddress" value="#{employeesController.selected.employeeEmailAddress}" title="#{configs.CreateEmployeesTitle_employeeEmailAddress}" />
                        <p:outputLabel value="#{configs.CreateEmployeesLabel_employeePhoneNo}" for="employeePhoneNo" />
                        <p:inputText id="employeePhoneNo" value="#{employeesController.selected.employeePhoneNo}" title="#{configs.CreateEmployeesTitle_employeePhoneNo}" />
                        <p:outputLabel value="#{configs.CreateEmployeesLabel_employeeLogDate}" for="employeeLogDate" />
                        <p:inputText id="employeeLogDate" value="#{employeesController.selected.employeeLogDate}" title="#{configs.CreateEmployeesTitle_employeeLogDate}" />
                        <p:outputLabel value="#{configs.CreateEmployeesLabel_employeeOrganization}" for="employeeOrganization" />
                        <p:selectOneMenu id="employeeOrganization" value="#{employeesController.selected.employeeOrganization}" >
                            <f:selectItems value="#{organizationDetailsController.itemsAvailableSelectOne}"
                                           var="employeeOrganizationItem"
                                           itemValue="#{employeeOrganizationItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{employeesController.create}" value="#{configs.Save}" update="display,:EmployeesListForm:datalist,:growl" oncomplete="handleSubmit(args,'EmployeesCreateDialog');"/>
                    <p:commandButton value="#{configs.Cancel}" onclick="EmployeesCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
