<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EmployeesEditDlg" widgetVar="EmployeesEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.EditEmployeesTitle}">
            <h:form id="EmployeesEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{employeesController.selected != null}">
                        <p:outputLabel value="#{configs.EditEmployeesLabel_employeesID}" for="employeesID" />
                        <p:inputText id="employeesID" value="#{employeesController.selected.employeesID}" title="#{configs.EditEmployeesTitle_employeesID}" required="true" requiredMessage="#{configs.EditEmployeesRequiredMessage_employeesID}"/>
                        <p:outputLabel value="#{configs.EditEmployeesLabel_employeeCode}" for="employeeCode" />
                        <p:inputText id="employeeCode" value="#{employeesController.selected.employeeCode}" title="#{configs.EditEmployeesTitle_employeeCode}" />
                        <p:outputLabel value="#{configs.EditEmployeesLabel_employeeName}" for="employeeName" />
                        <p:inputText id="employeeName" value="#{employeesController.selected.employeeName}" title="#{configs.EditEmployeesTitle_employeeName}" />
                        <p:outputLabel value="#{configs.EditEmployeesLabel_employeeEmailAddress}" for="employeeEmailAddress" />
                        <p:inputText id="employeeEmailAddress" value="#{employeesController.selected.employeeEmailAddress}" title="#{configs.EditEmployeesTitle_employeeEmailAddress}" />
                        <p:outputLabel value="#{configs.EditEmployeesLabel_employeePhoneNo}" for="employeePhoneNo" />
                        <p:inputText id="employeePhoneNo" value="#{employeesController.selected.employeePhoneNo}" title="#{configs.EditEmployeesTitle_employeePhoneNo}" />
                        <p:outputLabel value="#{configs.EditEmployeesLabel_employeeLogDate}" for="employeeLogDate" />
                        <p:inputText id="employeeLogDate" value="#{employeesController.selected.employeeLogDate}" title="#{configs.EditEmployeesTitle_employeeLogDate}" />
                        <p:outputLabel value="#{configs.EditEmployeesLabel_employeeOrganization}" for="employeeOrganization" />
                        <p:selectOneMenu id="employeeOrganization" value="#{employeesController.selected.employeeOrganization}" >
                            <f:selectItem itemLabel="#{configs.SelectOneMessage}"/>
                            <f:selectItems value="#{organizationDetailsController.itemsAvailableSelectOne}"
                                           var="employeeOrganizationItem"
                                           itemValue="#{employeeOrganizationItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{employeesController.update}" value="#{configs.Save}" update="display,:EmployeesListForm:datalist,:growl" oncomplete="handleSubmit(args, 'EmployeesEditDialog');"/>
                    <p:commandButton value="#{configs.Cancel}" onclick="EmployeesEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
