<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EmployeesViewDlg" widgetVar="EmployeesViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.ViewEmployeesTitle}">
            <h:form id="EmployeesViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{employeesController.selected != null}">
                        <h:outputText value="#{configs.ViewEmployeesLabel_employeesID}"/>
                        <h:outputText value="#{employeesController.selected.employeesID}" title="#{configs.ViewEmployeesTitle_employeesID}"/>
                        <h:outputText value="#{configs.ViewEmployeesLabel_employeeCode}"/>
                        <h:outputText value="#{employeesController.selected.employeeCode}" title="#{configs.ViewEmployeesTitle_employeeCode}"/>
                        <h:outputText value="#{configs.ViewEmployeesLabel_employeeName}"/>
                        <h:outputText value="#{employeesController.selected.employeeName}" title="#{configs.ViewEmployeesTitle_employeeName}"/>
                        <h:outputText value="#{configs.ViewEmployeesLabel_employeeEmailAddress}"/>
                        <h:outputText value="#{employeesController.selected.employeeEmailAddress}" title="#{configs.ViewEmployeesTitle_employeeEmailAddress}"/>
                        <h:outputText value="#{configs.ViewEmployeesLabel_employeePhoneNo}"/>
                        <h:outputText value="#{employeesController.selected.employeePhoneNo}" title="#{configs.ViewEmployeesTitle_employeePhoneNo}"/>
                        <h:outputText value="#{configs.ViewEmployeesLabel_employeeLogDate}"/>
                        <h:outputText value="#{employeesController.selected.employeeLogDate}" title="#{configs.ViewEmployeesTitle_employeeLogDate}"/>
                        <h:outputText value="#{configs.ViewEmployeesLabel_employeeOrganization}"/>
                        <h:outputText value="#{employeesController.selected.employeeOrganization}" title="#{configs.ViewEmployeesTitle_employeeOrganization}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{configs.Close}" onclick="EmployeesViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
