<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:composition>

        <!-- BEGIN FOOTER -->
        <div class="page-footer">
            <div class="page-footer-inner">                    
                2014 © Epay Kenya Powered by Clansofts Technologies.
            </div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- END FOOTER -->

    </ui:composition>

</html>