<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>

        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />	            
            <h:outputScript library="primefaces" name="jquery/jquery.js" />  
            <h:outputStylesheet library="css" name="jsfcrud.css"/>
            <h:outputScript library="js" name="jsfcrud.js"/>
            <title>Epay Kenya</title>

            <!-- BEGIN GLOBAL MANDATORY STYLES -->            
            <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css"/>
            <h:outputStylesheet name="webjars/font-awesome/4.2.0/css/font-awesome.css"/>
            <link href="#{resource['assets/global/plugins/simple-line-icons/simple-line-icons.min.css']}" rel="stylesheet" type="text/css"/>
            <link href="#{resource['assets/global/plugins/bootstrap/css/bootstrap.min.css']}" rel="stylesheet" type="text/css"/>
            <link href="#{resource['assets/global/plugins/uniform/css/uniform.default.css']}" rel="stylesheet" type="text/css"/>
            <link href="#{resource['assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css']}" rel="stylesheet" type="text/css"/>
            <!-- END GLOBAL MANDATORY STYLES -->
            <!-- BEGIN PAGE LEVEL STYLES -->
            <link href="#{resource['assets/admin/pages/css/error.css']}" rel="stylesheet" type="text/css"/>
            <!-- END PAGE LEVEL STYLES -->
            <!-- BEGIN THEME STYLES -->
            <link href="#{resource['assets/global/css/components.css']}" rel="stylesheet" type="text/css"/>
            <link href="#{resource['assets/global/css/plugins.css']}" rel="stylesheet" type="text/css"/>
            <link href="#{resource['assets/admin/layout/css/layout.css']}" rel="stylesheet" type="text/css"/>
            <link id="style_color" href="#{resource['assets/admin/layout/css/themes/default.css']}" rel="stylesheet" type="text/css"/>
            <link href="#{resource['assets/admin/layout/css/custom.css']}" rel="stylesheet" type="text/css"/>
            <!-- END THEME STYLES -->

        </f:facet>

    </h:head>

    <h:body class="page-header-fixed page-quick-sidebar-over-content">

        <ui:include src="AppHeader.xhtml" />
        <ui:include src="AppContent.xhtml" />  
        <ui:include src="AppFooter.xhtml" />  


        <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
        <!-- BEGIN CORE PLUGINS -->
        <!--[if lt IE 9]>
        <script src="#{resource['assets/global/plugins/respond.min.js']}" type="text/javascript"></script>
        <script src="#{resource['assets/global/plugins/excanvas.min.js']}" type="text/javascript"></script> 
        <![endif]-->
        <script src="#{resource['assets/global/plugins/jquery-migrate.min.js']}" type="text/javascript"></script>
        <!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
        <script src="#{resource['assets/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js']}" type="text/javascript"></script>
        <script src="#{resource['assets/global/plugins/bootstrap/js/bootstrap.min.js']}" type="text/javascript"></script>
        <script src="#{resource['assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js']}" type="text/javascript"></script>
        <script src="#{resource['assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js']}" type="text/javascript"></script>
        <script src="#{resource['assets/global/plugins/jquery.blockui.min.js']}" type="text/javascript"></script>
        <script src="#{resource['assets/global/plugins/jquery.cokie.min.js']}" type="text/javascript"></script>
        <script src="#{resource['assets/global/plugins/uniform/jquery.uniform.min.js']}" type="text/javascript"></script>
        <script src="#{resource['assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js']}" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <script src="#{resource['assets/global/scripts/metronic.js']}" type="text/javascript"></script>
        <script src="#{resource['assets/admin/layout/scripts/layout.js']}" type="text/javascript"></script>
        <script src="#{resource['assets/admin/layout/scripts/quick-sidebar.js']}" type="text/javascript"></script>
        <script src="#{resource['assets/admin/layout/scripts/demo.js']}" type="text/javascript"></script>
        <script>
            jQuery(document).ready(function () {
                Metronic.init(); // init metronic core components
                Layout.init(); // init current layout
                QuickSidebar.init(); // init quick sidebar
                Demo.init(); // init demo features
            });
        </script>       
    </h:body>
</html>