<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>

        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />	            
            <h:outputScript library="primefaces" name="jquery/jquery.js']}" />  
            <title>Epay Kenya</title>

            <!-- <h:outputStylesheet name="webjars/font-awesome/4.2.0/css/font-awesome.css']}"/>
            -->
            <!-- Fonts START -->
            <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css"/>
            <!-- Fonts END -->

            <!-- Global styles START -->          
            <link href="#{resource['assets/global/plugins/font-awesome/css/font-awesome.min.css']}" rel="stylesheet"/>
            <link href="#{resource['assets/global/plugins/bootstrap/css/bootstrap.min.css']}" rel="stylesheet"/>
            <!-- Global styles END --> 

            <!-- Page level plugin styles START -->
            <link href="#{resource['assets/global/plugins/fancybox/source/jquery.fancybox.css']}" rel="stylesheet"/>
            <link href="#{resource['assets/global/plugins/uniform/css/uniform.default.css']}" rel="stylesheet" type="text/css"/>
            <!-- Page level plugin styles END -->

            <!-- Theme styles START -->
            <link href="#{resource['assets/global/css/components.css']}" rel="stylesheet"/>
            <link href="#{resource['assets/frontend/layout/css/style.css']}" rel="stylesheet"/>
            <link href="#{resource['assets/frontend/layout/css/style-responsive.css']}" rel="stylesheet"/>
            <link href="#{resource['assets/frontend/layout/css/themes/red.css']}" rel="stylesheet" id="style-color"/>
            <link href="#{resource['assets/frontend/layout/css/custom.css']}" rel="stylesheet"/>
            <!-- Theme styles END -->

        </f:facet>

    </h:head>


    <!-- Body BEGIN -->
    <h:body class="corporate">
        <!-- BEGIN TOP BAR -->
        <div class="pre-header">
            <div class="container">
                <div class="row">
                    <!-- BEGIN TOP BAR LEFT PART -->
                    <div class="col-md-6 col-sm-6 additional-shop-info">
                        <ul class="list-unstyled list-inline">
                            <li><i class="fa fa-phone"></i><span>+1 456 6717 4544</span></li>
                            <li><i class="fa fa-envelope-o"></i><span>info@epaykenya.com</span></li>
                        </ul>
                    </div>
                    <!-- END TOP BAR LEFT PART -->
                    <!-- BEGIN TOP BAR MENU -->
                    <div class="col-md-6 col-sm-6 additional-nav">
                        <ul class="list-unstyled list-inline pull-right">
                            <li><a href="login">Log In</a></li>
                            <li><a href="register">Registration</a></li>
                        </ul>
                    </div>
                    <!-- END TOP BAR MENU -->
                </div>
            </div>        
        </div>
        <!-- END TOP BAR -->
        <!-- BEGIN HEADER -->
        <div class="header">
            <div class="container">
                <a class="site-logo" href="#">
                    <img src="#{resource['assets/epayke.png']}" alt="Epay Kenya Ltd Front End"/></a>

                <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

            </div>
        </div>
        <!-- Header END -->

        <!-- BEGIN PAGE CONTENT-->
        <ui:insert name="body" />   
        <!-- END PAGE CONTENT-->                  

        <!-- BEGIN PRE-FOOTER -->
        <div class="pre-footer">
            <div class="container">
                <div class="row">
                    <!-- BEGIN BOTTOM ABOUT BLOCK -->
                    <div class="col-md-4 col-sm-6 pre-footer-col">
                        <h2>About us</h2>
                        <p>EpayKE is a money transfer organization dealing with money routing and disbursement.</p>

                    </div>
                    <!-- END BOTTOM ABOUT BLOCK -->

                    <!-- BEGIN BOTTOM CONTACTS -->
                    <div class="col-md-4 col-sm-6 pre-footer-col">
                        <h2>Our Contacts</h2>
                        <address class="margin-bottom-40">
                            35, Lorem Lis Street, Park Ave<br/>
                            California, US<br/>
                            Phone: 300 323 3456<br/>
                            Fax: 300 323 1456<br/>
                            Email: <a href="mailto:info@epaykenya.com">info@epaykenya.com</a><br/>
                            Skype: <a href="skype:epayke">epayke</a>
                        </address>

                    </div>
                    <!-- END BOTTOM CONTACTS -->

                    <!-- BEGIN TWITTER BLOCK --> 
                    <div class="col-md-4 col-sm-6 pre-footer-col">
                        <div class="pre-footer-subscribe-box pre-footer-subscribe-box-vertical">
                            <h2 class="margin-bottom-0">Newsletter</h2>
                            <p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>
                            <form action="#">
                                <div class="input-group">
                                    <input type="text" placeholder="youremail@mail.com" class="form-control"/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit">Subscribe</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- END TWITTER BLOCK -->
                </div>
            </div>
        </div>
        <!-- END PRE-FOOTER -->

        <!-- BEGIN FOOTER -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <!-- BEGIN COPYRIGHT -->
                    <div class="col-md-6 col-sm-6 padding-top-10">
                        2014 © Clansofts Technologies Ltd.. 
                        <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                    </div>
                    <!-- END COPYRIGHT -->
                    <!-- BEGIN PAYMENTS -->
                    <div class="col-md-6 col-sm-6">
                        <ul class="social-footer list-unstyled list-inline pull-right">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            <li><a href="#"><i class="fa fa-github"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa fa-dropbox"></i></a></li>
                        </ul>  
                    </div>
                    <!-- END PAYMENTS -->
                </div>
            </div>
        </div>
        <!-- END FOOTER -->

        <!-- END FOOTER -->

        <!-- Load javascripts at bottom, this will reduce page load time -->
        <!-- BEGIN CORE PLUGINS (REQUIRED FOR ALL PAGES) -->
        <!--[if lt IE 9]>
        <script src="#{resource['assets/global/plugins/respond.min.js']}"></script>
        <![endif]--> 
        <script src="#{resource['assets/global/plugins/jquery-1.11.0.min.js']}" type="text/javascript"></script>
        <script src="#{resource['assets/global/plugins/jquery-migrate-1.2.1.min.js']}" type="text/javascript"></script>
        <script src="#{resource['assets/global/plugins/bootstrap/js/bootstrap.min.js']}" type="text/javascript"></script>      
        <script src="#{resource['assets/frontend/layout/scripts/back-to-top.js']}" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->

        <!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
        <script src="#{resource['assets/global/plugins/fancybox/source/jquery.fancybox.pack.js']}" type="text/javascript"></script><!-- pop up -->
        <script src="#{resource['assets/global/plugins/uniform/jquery.uniform.min.js']}" type="text/javascript"></script>

        <script src="#{resource['assets/frontend/layout/scripts/layout.js']}" type="text/javascript"></script>
        <script type="text/javascript">
            jQuery(document).ready(function () {
                Layout.init();
                Layout.initUniform();
                Layout.initTwitter();
            });
        </script>
        <!-- END PAGE LEVEL JAVASCRIPTS -->
    </h:body>
</html>