<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ReceipientsWalletEditDlg" widgetVar="ReceipientsWalletEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.EditReceipientsWalletTitle}">
            <h:form id="ReceipientsWalletEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{receipientsWalletController.selected != null}">
                        <p:outputLabel value="#{configs.EditReceipientsWalletLabel_walletID}" for="walletID" />
                        <p:inputText id="walletID" value="#{receipientsWalletController.selected.walletID}" title="#{configs.EditReceipientsWalletTitle_walletID}" required="true" requiredMessage="#{configs.EditReceipientsWalletRequiredMessage_walletID}"/>
                        <p:outputLabel value="#{configs.EditReceipientsWalletLabel_mobileWallet}" for="mobileWallet" />
                        <p:inputText id="mobileWallet" value="#{receipientsWalletController.selected.mobileWallet}" title="#{configs.EditReceipientsWalletTitle_mobileWallet}" />
                        <p:outputLabel value="#{configs.EditReceipientsWalletLabel_networkCarrier}" for="networkCarrier" />
                        <p:inputText id="networkCarrier" value="#{receipientsWalletController.selected.networkCarrier}" title="#{configs.EditReceipientsWalletTitle_networkCarrier}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{receipientsWalletController.update}" value="#{configs.Save}" update="display,:ReceipientsWalletListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ReceipientsWalletEditDialog');"/>
                    <p:commandButton value="#{configs.Cancel}" onclick="ReceipientsWalletEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
