<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ReceipientsWalletViewDlg" widgetVar="ReceipientsWalletViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.ViewReceipientsWalletTitle}">
            <h:form id="ReceipientsWalletViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{receipientsWalletController.selected != null}">
                        <h:outputText value="#{configs.ViewReceipientsWalletLabel_walletID}"/>
                        <h:outputText value="#{receipientsWalletController.selected.walletID}" title="#{configs.ViewReceipientsWalletTitle_walletID}"/>
                        <h:outputText value="#{configs.ViewReceipientsWalletLabel_mobileWallet}"/>
                        <h:outputText value="#{receipientsWalletController.selected.mobileWallet}" title="#{configs.ViewReceipientsWalletTitle_mobileWallet}"/>
                        <h:outputText value="#{configs.ViewReceipientsWalletLabel_networkCarrier}"/>
                        <h:outputText value="#{receipientsWalletController.selected.networkCarrier}" title="#{configs.ViewReceipientsWalletTitle_networkCarrier}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{configs.Close}" onclick="ReceipientsWalletViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
