<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="OrganizationDetailsCreateDlg" 
                  widgetVar="OrganizationDetailsCreateDialog"
                  modal="true" showHeader="false" closable="true" closeOnEscape="true"
                  resizable="false" footer="Escape to close" 
                  appendTo="@(body)" header="#{configs.CreateOrganizationDetailsTitle}">

            <h:form id="OrganizationDetailsCreateForm">

                <p:wizard>
                    <p:tab id="personal">
                        <p:panel header="Personal Details">
                            
                            <h:panelGroup id="display">
                                <p:panelGrid columns="4" rendered="#{organizationDetailsController.selected != null}">



                                    <p:outputLabel value="#{configs.CreateOrganizationDetailsLabel_organizationParent}" for="organizationParent" />
                                    <p:inputText id="organizationParent" style="width: 100%" 
                                                 value="#{organizationDetailsController.selected.organizationParent}" 
                                                 title="#{configs.CreateOrganizationDetailsTitle_organizationParent}" />

                                    <p:outputLabel value="#{configs.CreateOrganizationDetailsLabel_organizationCode}" for="organizationCode" />
                                    <p:inputText id="organizationCode" 
                                                 value="#{organizationDetailsController.selected.organizationCode}" 
                                                 title="#{configs.CreateOrganizationDetailsTitle_organizationCode}" />

                                    <p:outputLabel value="#{configs.CreateOrganizationDetailsLabel_organizationName}" for="organizationName" />
                                    <p:inputText id="organizationName" 
                                                 value="#{organizationDetailsController.selected.organizationName}" 
                                                 title="#{configs.CreateOrganizationDetailsTitle_organizationName}" 
                                                 required="true"/>

                                    <p:outputLabel value="#{configs.CreateOrganizationDetailsLabel_address}" for="address" />
                                    <p:inputText id="address" 
                                                 value="#{organizationDetailsController.selected.address}" 
                                                 title="#{configs.CreateOrganizationDetailsTitle_address}" />

                                    <p:outputLabel value="#{configs.CreateOrganizationDetailsLabel_phoneNumber}" for="phoneNumber" />
                                    <p:inputText id="phoneNumber" 
                                                 value="#{organizationDetailsController.selected.phoneNumber}" 
                                                 title="#{configs.CreateOrganizationDetailsTitle_phoneNumber}" />

                                    <p:outputLabel value="#{configs.CreateOrganizationDetailsLabel_openingHours}" for="openingHours" />
                                    <p:inputText id="openingHours" 
                                                 value="#{organizationDetailsController.selected.openingHours}" 
                                                 title="#{configs.CreateOrganizationDetailsTitle_openingHours}" />

                                    <p:outputLabel value="#{configs.CreateOrganizationDetailsLabel_closingHour}" for="closingHour" />
                                    <p:inputText id="closingHour" 
                                                 value="#{organizationDetailsController.selected.closingHour}" 
                                                 title="#{configs.CreateOrganizationDetailsTitle_closingHour}" />

                                    <p:outputLabel value="#{configs.CreateOrganizationDetailsLabel_organizationStatus}" 
                                                   for="organizationStatus" />
                                    <p:selectOneMenu id="organizationStatus" style="width: 100%" 
                                                     value="#{organizationDetailsController.selected.organizationStatus}" >
                                        <f:selectItems value="#{organizationStatusController.itemsAvailableSelectOne}"
                                                       var="organizationStatusItem" 
                                                       itemLabel="#{organizationStatusItem.organizationStatusDesc}"
                                                       itemValue="#{organizationStatusItem}"/>
                                    </p:selectOneMenu>

                                    <p:outputLabel value="#{configs.CreateOrganizationDetailsLabel_organizationTypeInf}" for="organizationTypeInf" />
                                    <p:selectOneMenu id="organizationTypeInf" style="width: 100%" value="#{organizationDetailsController.selected.organizationTypeInf}" >
                                        <f:selectItems value="#{organizationTypeController.itemsAvailableSelectOne}"
                                                       var="organizationTypeInfItem" itemLabel="#{organizationTypeInfItem.organizationTypeDesc}"
                                                       itemValue="#{organizationTypeInfItem}"/>
                                    </p:selectOneMenu>

                                </p:panelGrid>
                                <p:commandButton actionListener="#{organizationDetailsController.create}" 
                                                 value="#{configs.Save}" update="display,:OrganizationDetailsListForm:datalist" oncomplete="handleSubmit(args,'OrganizationDetailsCreateDialog');"/>
                                <p:commandButton value="#{configs.Cancel}" 
                                                 onclick="PF('OrganizationDetailsCreateDialog').hide()"/>
                            </h:panelGroup>
                        </p:panel>
                    </p:tab>
                    <p:tab id="contact">
                        <p:panel header="Contact Information">
                            <h:messages errorClass="error"/>
                            <h:panelGrid columns="2">
                                <h:outputText value="Email: *" />                                
                                <h:outputText value="Phone: " />
                            </h:panelGrid>
                        </p:panel>
                    </p:tab>
                </p:wizard>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
