<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="OrganizationDetailsEditDlg" widgetVar="OrganizationDetailsEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.EditOrganizationDetailsTitle}">
            <h:form id="OrganizationDetailsEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="4" rendered="#{organizationDetailsController.selected != null}">
                        
                        <p:outputLabel value="#{configs.EditOrganizationDetailsLabel_organizationID}" for="organizationID" />
                        <p:inputText id="organizationID" 
                                     value="#{organizationDetailsController.selected.organizationID}" 
                                     title="#{configs.EditOrganizationDetailsTitle_organizationID}" 
                                     required="true" disabled="true"/>
                        
                        <p:outputLabel value="#{configs.EditOrganizationDetailsLabel_organizationParent}" for="organizationParent" />
                        <p:inputText id="organizationParent" value="#{organizationDetailsController.selected.organizationParent}" title="#{configs.EditOrganizationDetailsTitle_organizationParent}" />
                        
                        <p:outputLabel value="#{configs.EditOrganizationDetailsLabel_organizationCode}" for="organizationCode" />
                        <p:inputText id="organizationCode" value="#{organizationDetailsController.selected.organizationCode}" title="#{configs.EditOrganizationDetailsTitle_organizationCode}" />
                        
                        <p:outputLabel value="#{configs.EditOrganizationDetailsLabel_organizationName}" for="organizationName" />
                        <p:inputText id="organizationName" value="#{organizationDetailsController.selected.organizationName}" title="#{configs.EditOrganizationDetailsTitle_organizationName}" />
                        
                        <p:outputLabel value="#{configs.EditOrganizationDetailsLabel_address}" for="address" />
                        <p:inputText id="address" value="#{organizationDetailsController.selected.address}" title="#{configs.EditOrganizationDetailsTitle_address}" />
                        
                        <p:outputLabel value="#{configs.EditOrganizationDetailsLabel_phoneNumber}" for="phoneNumber" />
                        <p:inputText id="phoneNumber" value="#{organizationDetailsController.selected.phoneNumber}" title="#{configs.EditOrganizationDetailsTitle_phoneNumber}" />
                        
                        <p:outputLabel value="#{configs.EditOrganizationDetailsLabel_openingHours}" for="openingHours" />
                        <p:inputText id="openingHours" value="#{organizationDetailsController.selected.openingHours}" title="#{configs.EditOrganizationDetailsTitle_openingHours}" />
                        
                        <p:outputLabel value="#{configs.EditOrganizationDetailsLabel_closingHour}" for="closingHour" />
                        <p:inputText id="closingHour" value="#{organizationDetailsController.selected.closingHour}" title="#{configs.EditOrganizationDetailsTitle_closingHour}" />
                        
                        <p:outputLabel value="#{configs.EditOrganizationDetailsLabel_organizationStatus}" for="organizationStatus" />
                        <p:selectOneMenu id="organizationStatus" value="#{organizationDetailsController.selected.organizationStatus}" >
                            <f:selectItem itemLabel="#{configs.SelectOneMessage}"/>
                            <f:selectItems value="#{organizationStatusController.itemsAvailableSelectOne}"
                                           var="organizationStatusItem" itemLabel="#{organizationStatusItem.organizationStatusDesc}"
                                           itemValue="#{organizationStatusItem}"/>
                        </p:selectOneMenu>
                        
                        <p:outputLabel value="#{configs.EditOrganizationDetailsLabel_organizationTypeInf}" for="organizationTypeInf" />
                        <p:selectOneMenu id="organizationTypeInf" value="#{organizationDetailsController.selected.organizationTypeInf}" >
                            <f:selectItem itemLabel="#{configs.SelectOneMessage}"/>
                            <f:selectItems value="#{organizationTypeController.itemsAvailableSelectOne}"
                                           var="organizationTypeInfItem" itemLabel="#{organizationTypeInfItem.organizationTypeDesc}"
                                           itemValue="#{organizationTypeInfItem}"/>
                        </p:selectOneMenu>
                        
                    </p:panelGrid>
                    <p:commandButton actionListener="#{organizationDetailsController.update}" 
                                     value="#{configs.Save}" update="display,:OrganizationDetailsListForm:datalist" oncomplete="handleSubmit(args, 'OrganizationDetailsEditDialog');"/>
                    <p:commandButton value="#{configs.Cancel}" 
                                     onclick="PF('OrganizationDetailsEditDialog').hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
