<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/WEB-INF/templates/Framework.xhtml">


        <ui:define name="body">

            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="#">Home</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Organizations</a>
                    </li>
                </ul>

            </div>
            <!-- END PAGE HEADER-->

            <h1 class="page-header "> <i class="fa fa-tachometer"></i> Organizations</h1>
            <div class="row">
                <div class="col-md-12">
                    <div class="note note-success">
                        <p>
                            Please click <i class="icon-logout"></i> icon on the header's right top to toggle the quick sidebar.
                        </p>
                    </div>

                    <h:form id="OrganizationDetailsListForm">

                        <p:dataTable id="datalist" value="#{organizationDetailsController.items}" var="item"
                                     selectionMode="single" selection="#{organizationDetailsController.selected}"
                                     paginator="true"
                                     rowKey="#{item.organizationID}"
                                     rows="10"
                                     paginatorPosition="bottom"
                                     rowsPerPageTemplate="10,20,30,40,50"
                                     >

                            <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                            <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListOrganizationDetailsTitle_organizationID}"/>
                                </f:facet>
                                <h:outputText value="#{item.organizationID}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListOrganizationDetailsTitle_organizationParent}"/>
                                </f:facet>
                                <h:outputText value="#{item.organizationParent}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListOrganizationDetailsTitle_organizationCode}"/>
                                </f:facet>
                                <h:outputText value="#{item.organizationCode}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListOrganizationDetailsTitle_organizationName}"/>
                                </f:facet>
                                <h:outputText value="#{item.organizationName}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListOrganizationDetailsTitle_address}"/>
                                </f:facet>
                                <h:outputText value="#{item.address}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListOrganizationDetailsTitle_phoneNumber}"/>
                                </f:facet>
                                <h:outputText value="#{item.phoneNumber}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListOrganizationDetailsTitle_openingHours}"/>
                                </f:facet>
                                <h:outputText value="#{item.openingHours}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListOrganizationDetailsTitle_closingHour}"/>
                                </f:facet>
                                <h:outputText value="#{item.closingHour}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListOrganizationDetailsTitle_organizationStatus}"/>
                                </f:facet>
                                <h:outputText value="#{item.organizationStatus.organizationStatusDesc}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListOrganizationDetailsTitle_organizationTypeInf}"/>
                                </f:facet>
                                <h:outputText value="#{item.organizationTypeInf.organizationTypeDesc}"/>
                            </p:column>
                            <f:facet name="footer">
                                <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{configs.Create}" actionListener="#{organizationDetailsController.prepareCreate}" update=":OrganizationDetailsCreateForm" oncomplete="PF('OrganizationDetailsCreateDialog').show()"/>
                                <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{configs.View}" update=":OrganizationDetailsViewForm" oncomplete="PF('OrganizationDetailsViewDialog').show()" disabled="#{empty organizationDetailsController.selected}"/>
                                <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{configs.Edit}" update=":OrganizationDetailsEditForm" oncomplete="PF('OrganizationDetailsEditDialog').show()" disabled="#{empty organizationDetailsController.selected}"/>
                                <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{configs.Delete}" actionListener="#{organizationDetailsController.destroy}" update=":growl,datalist" disabled="#{empty organizationDetailsController.selected}"/>
                            </f:facet>
                        </p:dataTable>

                    </h:form>

                    <ui:include src="Create.xhtml"/>
                    <ui:include src="Edit.xhtml"/>
                    <ui:include src="View.xhtml"/>

                </div>
            </div>

        </ui:define>

    </ui:composition>    
</html>
