<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="OrganizationDetailsViewDlg" widgetVar="OrganizationDetailsViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.ViewOrganizationDetailsTitle}">
            <h:form id="OrganizationDetailsViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="4" rendered="#{organizationDetailsController.selected != null}">
                        
                        <h:outputText value="#{configs.ViewOrganizationDetailsLabel_organizationID}"/>
                        <h:outputText value="#{organizationDetailsController.selected.organizationID}" title="#{configs.ViewOrganizationDetailsTitle_organizationID}"/>
                        
                        <h:outputText value="#{configs.ViewOrganizationDetailsLabel_organizationParent}"/>
                        <h:outputText value="#{organizationDetailsController.selected.organizationParent}" title="#{configs.ViewOrganizationDetailsTitle_organizationParent}"/>
                        
                        <h:outputText value="#{configs.ViewOrganizationDetailsLabel_organizationCode}"/>
                        <h:outputText value="#{organizationDetailsController.selected.organizationCode}" title="#{configs.ViewOrganizationDetailsTitle_organizationCode}"/>
                        
                        <h:outputText value="#{configs.ViewOrganizationDetailsLabel_organizationName}"/>
                        <h:outputText value="#{organizationDetailsController.selected.organizationName}" title="#{configs.ViewOrganizationDetailsTitle_organizationName}"/>
                        
                        <h:outputText value="#{configs.ViewOrganizationDetailsLabel_address}"/>
                        <h:outputText value="#{organizationDetailsController.selected.address}" title="#{configs.ViewOrganizationDetailsTitle_address}"/>
                        
                        <h:outputText value="#{configs.ViewOrganizationDetailsLabel_phoneNumber}"/>
                        <h:outputText value="#{organizationDetailsController.selected.phoneNumber}" title="#{configs.ViewOrganizationDetailsTitle_phoneNumber}"/>
                        
                        <h:outputText value="#{configs.ViewOrganizationDetailsLabel_openingHours}"/>
                        <h:outputText value="#{organizationDetailsController.selected.openingHours}" title="#{configs.ViewOrganizationDetailsTitle_openingHours}"/>
                        
                        <h:outputText value="#{configs.ViewOrganizationDetailsLabel_closingHour}"/>
                        <h:outputText value="#{organizationDetailsController.selected.closingHour}" title="#{configs.ViewOrganizationDetailsTitle_closingHour}"/>
                        
                        <h:outputText value="#{configs.ViewOrganizationDetailsLabel_organizationStatus}"/>
                        <h:outputText value="#{organizationDetailsController.selected.organizationStatus.organizationStatusDesc}" 
                                      title="#{configs.ViewOrganizationDetailsTitle_organizationStatus}"/>
                        
                        <h:outputText value="#{configs.ViewOrganizationDetailsLabel_organizationTypeInf}"/>
                        <h:outputText value="#{organizationDetailsController.selected.organizationTypeInf.organizationTypeDesc}" 
                                      title="#{configs.ViewOrganizationDetailsTitle_organizationTypeInf}"/>
                    
                    </p:panelGrid>
                    <p:commandButton value="#{configs.Close}" 
                                     onclick="PF('OrganizationDetailsViewDialog').hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
