<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RolesCenterCreateDlg" widgetVar="RolesCenterCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.CreateRolesCenterTitle}">
            <h:form id="RolesCenterCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{rolesCenterController.selected != null}">
                        <p:outputLabel value="#{configs.CreateRolesCenterLabel_roleCenterID}" for="roleCenterID" />
                        <p:inputText id="roleCenterID" value="#{rolesCenterController.selected.roleCenterID}" title="#{configs.CreateRolesCenterTitle_roleCenterID}" required="true" requiredMessage="#{configs.CreateRolesCenterRequiredMessage_roleCenterID}"/>
                        <p:outputLabel value="#{configs.CreateRolesCenterLabel_roleName}" for="roleName" />
                        <p:inputText id="roleName" value="#{rolesCenterController.selected.roleName}" title="#{configs.CreateRolesCenterTitle_roleName}" />
                        <p:outputLabel value="#{configs.CreateRolesCenterLabel_roleLogDate}" for="roleLogDate" />
                        <p:calendar id="roleLogDate" pattern="MM/dd/yyyy HH:mm:ss" value="#{rolesCenterController.selected.roleLogDate}" title="#{configs.EditRolesCenterTitle_roleLogDate}"  showOn="button"/>
                        <p:outputLabel value="#{configs.CreateRolesCenterLabel_roleStatus}" for="roleStatus" />
                        <p:selectOneMenu id="roleStatus" value="#{rolesCenterController.selected.roleStatus}" >
                            <f:selectItems value="#{rolesStatusController.itemsAvailableSelectOne}"
                                           var="roleStatusItem"
                                           itemValue="#{roleStatusItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{configs.CreateRolesCenterLabel_roleOrganization}" for="roleOrganization" />
                        <p:selectOneMenu id="roleOrganization" value="#{rolesCenterController.selected.roleOrganization}" >
                            <f:selectItems value="#{organizationDetailsController.itemsAvailableSelectOne}"
                                           var="roleOrganizationItem"
                                           itemValue="#{roleOrganizationItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{rolesCenterController.create}" value="#{configs.Save}" update="display,:RolesCenterListForm:datalist,:growl" oncomplete="handleSubmit(args,'RolesCenterCreateDialog');"/>
                    <p:commandButton value="#{configs.Cancel}" onclick="RolesCenterCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
