<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RolesCenterViewDlg" widgetVar="RolesCenterViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.ViewRolesCenterTitle}">
            <h:form id="RolesCenterViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{rolesCenterController.selected != null}">
                        <h:outputText value="#{configs.ViewRolesCenterLabel_roleCenterID}"/>
                        <h:outputText value="#{rolesCenterController.selected.roleCenterID}" title="#{configs.ViewRolesCenterTitle_roleCenterID}"/>
                        <h:outputText value="#{configs.ViewRolesCenterLabel_roleName}"/>
                        <h:outputText value="#{rolesCenterController.selected.roleName}" title="#{configs.ViewRolesCenterTitle_roleName}"/>
                        <h:outputText value="#{configs.ViewRolesCenterLabel_roleLogDate}"/>
                        <h:outputText value="#{rolesCenterController.selected.roleLogDate}" title="#{configs.ViewRolesCenterTitle_roleLogDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{configs.ViewRolesCenterLabel_roleStatus}"/>
                        <h:outputText value="#{rolesCenterController.selected.roleStatus}" title="#{configs.ViewRolesCenterTitle_roleStatus}"/>
                        <h:outputText value="#{configs.ViewRolesCenterLabel_roleOrganization}"/>
                        <h:outputText value="#{rolesCenterController.selected.roleOrganization}" title="#{configs.ViewRolesCenterTitle_roleOrganization}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{configs.Close}" onclick="RolesCenterViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
