<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsersTypesEditDlg" widgetVar="UsersTypesEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.EditUsersTypesTitle}">
            <h:form id="UsersTypesEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usersTypesController.selected != null}">
                        <p:outputLabel value="#{configs.EditUsersTypesLabel_userTypeID}" for="userTypeID" />
                        <p:inputText id="userTypeID" value="#{usersTypesController.selected.userTypeID}" title="#{configs.EditUsersTypesTitle_userTypeID}" required="true" requiredMessage="#{configs.EditUsersTypesRequiredMessage_userTypeID}"/>
                        <p:outputLabel value="#{configs.EditUsersTypesLabel_usersTypeDesc}" for="usersTypeDesc" />
                        <p:inputText id="usersTypeDesc" value="#{usersTypesController.selected.usersTypeDesc}" title="#{configs.EditUsersTypesTitle_usersTypeDesc}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usersTypesController.update}" value="#{configs.Save}" update="display,:UsersTypesListForm:datalist,:growl" oncomplete="handleSubmit(args, 'UsersTypesEditDialog');"/>
                    <p:commandButton value="#{configs.Cancel}" onclick="UsersTypesEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
