<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsersTypesViewDlg" widgetVar="UsersTypesViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.ViewUsersTypesTitle}">
            <h:form id="UsersTypesViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usersTypesController.selected != null}">
                        <h:outputText value="#{configs.ViewUsersTypesLabel_userTypeID}"/>
                        <h:outputText value="#{usersTypesController.selected.userTypeID}" title="#{configs.ViewUsersTypesTitle_userTypeID}"/>
                        <h:outputText value="#{configs.ViewUsersTypesLabel_usersTypeDesc}"/>
                        <h:outputText value="#{usersTypesController.selected.usersTypeDesc}" title="#{configs.ViewUsersTypesTitle_usersTypeDesc}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{configs.Close}" onclick="UsersTypesViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
