<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="OrganizationStatusEditDlg" widgetVar="OrganizationStatusEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.EditOrganizationStatusTitle}">
            <h:form id="OrganizationStatusEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{organizationStatusController.selected != null}">
                        <p:outputLabel value="#{configs.EditOrganizationStatusLabel_organizationStatusID}" for="organizationStatusID" />
                        <p:inputText id="organizationStatusID" value="#{organizationStatusController.selected.organizationStatusID}" title="#{configs.EditOrganizationStatusTitle_organizationStatusID}" required="true" requiredMessage="#{configs.EditOrganizationStatusRequiredMessage_organizationStatusID}"/>
                        <p:outputLabel value="#{configs.EditOrganizationStatusLabel_organizationStatusDesc}" for="organizationStatusDesc" />
                        <p:inputText id="organizationStatusDesc" value="#{organizationStatusController.selected.organizationStatusDesc}" title="#{configs.EditOrganizationStatusTitle_organizationStatusDesc}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{organizationStatusController.update}" value="#{configs.Save}" update="display,:OrganizationStatusListForm:datalist,:growl" oncomplete="handleSubmit(args, 'OrganizationStatusEditDialog');"/>
                    <p:commandButton value="#{configs.Cancel}" onclick="OrganizationStatusEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
