<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="OrganizationStatusViewDlg" widgetVar="OrganizationStatusViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.ViewOrganizationStatusTitle}">
            <h:form id="OrganizationStatusViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{organizationStatusController.selected != null}">
                        <h:outputText value="#{configs.ViewOrganizationStatusLabel_organizationStatusID}"/>
                        <h:outputText value="#{organizationStatusController.selected.organizationStatusID}" title="#{configs.ViewOrganizationStatusTitle_organizationStatusID}"/>
                        <h:outputText value="#{configs.ViewOrganizationStatusLabel_organizationStatusDesc}"/>
                        <h:outputText value="#{organizationStatusController.selected.organizationStatusDesc}" title="#{configs.ViewOrganizationStatusTitle_organizationStatusDesc}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{configs.Close}" onclick="OrganizationStatusViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
