<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CardEditDlg" widgetVar="CardEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.EditCardTitle}">
            <h:form id="CardEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{cardController.selected != null}">
                        <p:outputLabel value="#{configs.EditCardLabel_cardID}" for="cardID" />
                        <p:inputText id="cardID" value="#{cardController.selected.cardID}" title="#{configs.EditCardTitle_cardID}" required="true" requiredMessage="#{configs.EditCardRequiredMessage_cardID}"/>
                        <p:outputLabel value="#{configs.EditCardLabel_accountName}" for="accountName" />
                        <p:inputText id="accountName" value="#{cardController.selected.accountName}" title="#{configs.EditCardTitle_accountName}" />
                        <p:outputLabel value="#{configs.EditCardLabel_cardNumber}" for="cardNumber" />
                        <p:inputText id="cardNumber" value="#{cardController.selected.cardNumber}" title="#{configs.EditCardTitle_cardNumber}" />
                        <p:outputLabel value="#{configs.EditCardLabel_expiryDate}" for="expiryDate" />
                        <p:calendar id="expiryDate" pattern="MM/dd/yyyy" value="#{cardController.selected.expiryDate}" title="#{configs.EditCardTitle_expiryDate}"  showOn="button"/>
                        <p:outputLabel value="#{configs.EditCardLabel_ccv}" for="ccv" />
                        <p:inputText id="ccv" value="#{cardController.selected.ccv}" title="#{configs.EditCardTitle_ccv}" />
                        <p:outputLabel value="#{configs.EditCardLabel_cardType}" for="cardType" />
                        <p:selectOneMenu id="cardType" value="#{cardController.selected.cardType}" >
                            <f:selectItem itemLabel="#{configs.SelectOneMessage}"/>
                            <f:selectItems value="#{cardTypesController.itemsAvailableSelectOne}"
                                           var="cardTypeItem"
                                           itemValue="#{cardTypeItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{configs.EditCardLabel_ownerInfo}" for="ownerInfo" />
                        <p:selectOneMenu id="ownerInfo" value="#{cardController.selected.ownerInfo}" >
                            <f:selectItem itemLabel="#{configs.SelectOneMessage}"/>
                            <f:selectItems value="#{customerController.itemsAvailableSelectOne}"
                                           var="ownerInfoItem"
                                           itemValue="#{ownerInfoItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{cardController.update}" value="#{configs.Save}" update="display,:CardListForm:datalist,:growl" oncomplete="handleSubmit(args, 'CardEditDialog');"/>
                    <p:commandButton value="#{configs.Cancel}" onclick="CardEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
