<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CardViewDlg" widgetVar="CardViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.ViewCardTitle}">
            <h:form id="CardViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{cardController.selected != null}">
                        <h:outputText value="#{configs.ViewCardLabel_cardID}"/>
                        <h:outputText value="#{cardController.selected.cardID}" title="#{configs.ViewCardTitle_cardID}"/>
                        <h:outputText value="#{configs.ViewCardLabel_accountName}"/>
                        <h:outputText value="#{cardController.selected.accountName}" title="#{configs.ViewCardTitle_accountName}"/>
                        <h:outputText value="#{configs.ViewCardLabel_cardNumber}"/>
                        <h:outputText value="#{cardController.selected.cardNumber}" title="#{configs.ViewCardTitle_cardNumber}"/>
                        <h:outputText value="#{configs.ViewCardLabel_expiryDate}"/>
                        <h:outputText value="#{cardController.selected.expiryDate}" title="#{configs.ViewCardTitle_expiryDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{configs.ViewCardLabel_ccv}"/>
                        <h:outputText value="#{cardController.selected.ccv}" title="#{configs.ViewCardTitle_ccv}"/>
                        <h:outputText value="#{configs.ViewCardLabel_cardType}"/>
                        <h:outputText value="#{cardController.selected.cardType}" title="#{configs.ViewCardTitle_cardType}"/>
                        <h:outputText value="#{configs.ViewCardLabel_ownerInfo}"/>
                        <h:outputText value="#{cardController.selected.ownerInfo}" title="#{configs.ViewCardTitle_ownerInfo}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{configs.Close}" onclick="CardViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
