<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RoleModulePermissionCreateDlg" widgetVar="RoleModulePermissionCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.CreateRoleModulePermissionTitle}">
            <h:form id="RoleModulePermissionCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{roleModulePermissionController.selected != null}">
                        <p:outputLabel value="#{configs.CreateRoleModulePermissionLabel_modulePermissionID}" for="modulePermissionID" />
                        <p:inputText id="modulePermissionID" value="#{roleModulePermissionController.selected.modulePermissionID}" title="#{configs.CreateRoleModulePermissionTitle_modulePermissionID}" required="true" requiredMessage="#{configs.CreateRoleModulePermissionRequiredMessage_modulePermissionID}"/>
                        <p:outputLabel value="#{configs.CreateRoleModulePermissionLabel_moduleInformation}" for="moduleInformation" />
                        <p:selectOneMenu id="moduleInformation" value="#{roleModulePermissionController.selected.moduleInformation}" >
                            <f:selectItems value="#{modulesController.itemsAvailableSelectOne}"
                                           var="moduleInformationItem"
                                           itemValue="#{moduleInformationItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{configs.CreateRoleModulePermissionLabel_roleInfo}" for="roleInfo" />
                        <p:selectOneMenu id="roleInfo" value="#{roleModulePermissionController.selected.roleInfo}" >
                            <f:selectItems value="#{rolesCenterController.itemsAvailableSelectOne}"
                                           var="roleInfoItem"
                                           itemValue="#{roleInfoItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{roleModulePermissionController.create}" value="#{configs.Save}" update="display,:RoleModulePermissionListForm:datalist,:growl" oncomplete="handleSubmit(args,'RoleModulePermissionCreateDialog');"/>
                    <p:commandButton value="#{configs.Cancel}" onclick="RoleModulePermissionCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
