<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RoleModulePermissionEditDlg" widgetVar="RoleModulePermissionEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.EditRoleModulePermissionTitle}">
            <h:form id="RoleModulePermissionEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{roleModulePermissionController.selected != null}">
                        <p:outputLabel value="#{configs.EditRoleModulePermissionLabel_modulePermissionID}" for="modulePermissionID" />
                        <p:inputText id="modulePermissionID" value="#{roleModulePermissionController.selected.modulePermissionID}" title="#{configs.EditRoleModulePermissionTitle_modulePermissionID}" required="true" requiredMessage="#{configs.EditRoleModulePermissionRequiredMessage_modulePermissionID}"/>
                        <p:outputLabel value="#{configs.EditRoleModulePermissionLabel_moduleInformation}" for="moduleInformation" />
                        <p:selectOneMenu id="moduleInformation" value="#{roleModulePermissionController.selected.moduleInformation}" >
                            <f:selectItem itemLabel="#{configs.SelectOneMessage}"/>
                            <f:selectItems value="#{modulesController.itemsAvailableSelectOne}"
                                           var="moduleInformationItem"
                                           itemValue="#{moduleInformationItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{configs.EditRoleModulePermissionLabel_roleInfo}" for="roleInfo" />
                        <p:selectOneMenu id="roleInfo" value="#{roleModulePermissionController.selected.roleInfo}" >
                            <f:selectItem itemLabel="#{configs.SelectOneMessage}"/>
                            <f:selectItems value="#{rolesCenterController.itemsAvailableSelectOne}"
                                           var="roleInfoItem"
                                           itemValue="#{roleInfoItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{roleModulePermissionController.update}" value="#{configs.Save}" update="display,:RoleModulePermissionListForm:datalist,:growl" oncomplete="handleSubmit(args, 'RoleModulePermissionEditDialog');"/>
                    <p:commandButton value="#{configs.Cancel}" onclick="RoleModulePermissionEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
