<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RoleModulePermissionViewDlg" widgetVar="RoleModulePermissionViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.ViewRoleModulePermissionTitle}">
            <h:form id="RoleModulePermissionViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{roleModulePermissionController.selected != null}">
                        <h:outputText value="#{configs.ViewRoleModulePermissionLabel_modulePermissionID}"/>
                        <h:outputText value="#{roleModulePermissionController.selected.modulePermissionID}" title="#{configs.ViewRoleModulePermissionTitle_modulePermissionID}"/>
                        <h:outputText value="#{configs.ViewRoleModulePermissionLabel_moduleInformation}"/>
                        <h:outputText value="#{roleModulePermissionController.selected.moduleInformation}" title="#{configs.ViewRoleModulePermissionTitle_moduleInformation}"/>
                        <h:outputText value="#{configs.ViewRoleModulePermissionLabel_roleInfo}"/>
                        <h:outputText value="#{roleModulePermissionController.selected.roleInfo}" title="#{configs.ViewRoleModulePermissionTitle_roleInfo}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{configs.Close}" onclick="RoleModulePermissionViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
