<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CommissionStructureEditDlg" widgetVar="CommissionStructureEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.EditCommissionStructureTitle}">
            <h:form id="CommissionStructureEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{commissionStructureController.selected != null}">
                        <p:outputLabel value="#{configs.EditCommissionStructureLabel_structureID}" for="structureID" />
                        <p:inputText id="structureID" value="#{commissionStructureController.selected.structureID}" title="#{configs.EditCommissionStructureTitle_structureID}" required="true" requiredMessage="#{configs.EditCommissionStructureRequiredMessage_structureID}"/>
                        <p:outputLabel value="#{configs.EditCommissionStructureLabel_sendAmountFrom}" for="sendAmountFrom" />
                        <p:inputText id="sendAmountFrom" value="#{commissionStructureController.selected.sendAmountFrom}" title="#{configs.EditCommissionStructureTitle_sendAmountFrom}" />
                        <p:outputLabel value="#{configs.EditCommissionStructureLabel_sendAmountTo}" for="sendAmountTo" />
                        <p:inputText id="sendAmountTo" value="#{commissionStructureController.selected.sendAmountTo}" title="#{configs.EditCommissionStructureTitle_sendAmountTo}" />
                        <p:outputLabel value="#{configs.EditCommissionStructureLabel_commission}" for="commission" />
                        <p:inputText id="commission" value="#{commissionStructureController.selected.commission}" title="#{configs.EditCommissionStructureTitle_commission}" />
                        <p:outputLabel value="#{configs.EditCommissionStructureLabel_commissionType}" for="commissionType" />
                        <p:selectOneMenu id="commissionType" value="#{commissionStructureController.selected.commissionType}" >
                            <f:selectItem itemLabel="#{configs.SelectOneMessage}"/>
                            <f:selectItems value="#{commissionTypesController.itemsAvailableSelectOne}"
                                           var="commissionTypeItem"
                                           itemValue="#{commissionTypeItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{configs.EditCommissionStructureLabel_sendBaseCurrency}" for="sendBaseCurrency" />
                        <p:selectOneMenu id="sendBaseCurrency" value="#{commissionStructureController.selected.sendBaseCurrency}" >
                            <f:selectItem itemLabel="#{configs.SelectOneMessage}"/>
                            <f:selectItems value="#{currenciesController.itemsAvailableSelectOne}"
                                           var="sendBaseCurrencyItem"
                                           itemValue="#{sendBaseCurrencyItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{commissionStructureController.update}" value="#{configs.Save}" update="display,:CommissionStructureListForm:datalist,:growl" oncomplete="handleSubmit(args, 'CommissionStructureEditDialog');"/>
                    <p:commandButton value="#{configs.Cancel}" onclick="CommissionStructureEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
