<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CommissionStructureViewDlg" widgetVar="CommissionStructureViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.ViewCommissionStructureTitle}">
            <h:form id="CommissionStructureViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{commissionStructureController.selected != null}">
                        <h:outputText value="#{configs.ViewCommissionStructureLabel_structureID}"/>
                        <h:outputText value="#{commissionStructureController.selected.structureID}" title="#{configs.ViewCommissionStructureTitle_structureID}"/>
                        <h:outputText value="#{configs.ViewCommissionStructureLabel_sendAmountFrom}"/>
                        <h:outputText value="#{commissionStructureController.selected.sendAmountFrom}" title="#{configs.ViewCommissionStructureTitle_sendAmountFrom}"/>
                        <h:outputText value="#{configs.ViewCommissionStructureLabel_sendAmountTo}"/>
                        <h:outputText value="#{commissionStructureController.selected.sendAmountTo}" title="#{configs.ViewCommissionStructureTitle_sendAmountTo}"/>
                        <h:outputText value="#{configs.ViewCommissionStructureLabel_commission}"/>
                        <h:outputText value="#{commissionStructureController.selected.commission}" title="#{configs.ViewCommissionStructureTitle_commission}"/>
                        <h:outputText value="#{configs.ViewCommissionStructureLabel_commissionType}"/>
                        <h:outputText value="#{commissionStructureController.selected.commissionType}" title="#{configs.ViewCommissionStructureTitle_commissionType}"/>
                        <h:outputText value="#{configs.ViewCommissionStructureLabel_sendBaseCurrency}"/>
                        <h:outputText value="#{commissionStructureController.selected.sendBaseCurrency}" title="#{configs.ViewCommissionStructureTitle_sendBaseCurrency}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{configs.Close}" onclick="CommissionStructureViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
