<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ModulesCreateDlg" widgetVar="ModulesCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.CreateModulesTitle}">
            <h:form id="ModulesCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{modulesController.selected != null}">
                        <p:outputLabel value="#{configs.CreateModulesLabel_moduleID}" for="moduleID" />
                        <p:inputText id="moduleID" value="#{modulesController.selected.moduleID}" title="#{configs.CreateModulesTitle_moduleID}" required="true" requiredMessage="#{configs.CreateModulesRequiredMessage_moduleID}"/>
                        <p:outputLabel value="#{configs.CreateModulesLabel_moduleName}" for="moduleName" />
                        <p:inputText id="moduleName" value="#{modulesController.selected.moduleName}" title="#{configs.CreateModulesTitle_moduleName}" />
                        <p:outputLabel value="#{configs.CreateModulesLabel_moduleLink}" for="moduleLink" />
                        <p:inputText id="moduleLink" value="#{modulesController.selected.moduleLink}" title="#{configs.CreateModulesTitle_moduleLink}" />
                        <p:outputLabel value="#{configs.CreateModulesLabel_moduleIcon}" for="moduleIcon" />
                        <p:inputText id="moduleIcon" value="#{modulesController.selected.moduleIcon}" title="#{configs.CreateModulesTitle_moduleIcon}" />
                        <p:outputLabel value="#{configs.CreateModulesLabel_moduleLogDate}" for="moduleLogDate" />
                        <p:calendar id="moduleLogDate" pattern="MM/dd/yyyy HH:mm:ss" value="#{modulesController.selected.moduleLogDate}" title="#{configs.EditModulesTitle_moduleLogDate}"  showOn="button"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{modulesController.create}" value="#{configs.Save}" update="display,:ModulesListForm:datalist,:growl" oncomplete="handleSubmit(args,'ModulesCreateDialog');"/>
                    <p:commandButton value="#{configs.Cancel}" onclick="ModulesCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
