<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ModulesViewDlg" widgetVar="ModulesViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.ViewModulesTitle}">
            <h:form id="ModulesViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{modulesController.selected != null}">
                        <h:outputText value="#{configs.ViewModulesLabel_moduleID}"/>
                        <h:outputText value="#{modulesController.selected.moduleID}" title="#{configs.ViewModulesTitle_moduleID}"/>
                        <h:outputText value="#{configs.ViewModulesLabel_moduleName}"/>
                        <h:outputText value="#{modulesController.selected.moduleName}" title="#{configs.ViewModulesTitle_moduleName}"/>
                        <h:outputText value="#{configs.ViewModulesLabel_moduleLink}"/>
                        <h:outputText value="#{modulesController.selected.moduleLink}" title="#{configs.ViewModulesTitle_moduleLink}"/>
                        <h:outputText value="#{configs.ViewModulesLabel_moduleIcon}"/>
                        <h:outputText value="#{modulesController.selected.moduleIcon}" title="#{configs.ViewModulesTitle_moduleIcon}"/>
                        <h:outputText value="#{configs.ViewModulesLabel_moduleLogDate}"/>
                        <h:outputText value="#{modulesController.selected.moduleLogDate}" title="#{configs.ViewModulesTitle_moduleLogDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                    </p:panelGrid>
                    <p:commandButton value="#{configs.Close}" onclick="ModulesViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
