<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="HedgeSettingsEditDlg" widgetVar="HedgeSettingsEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.EditHedgeSettingsTitle}">
            <h:form id="HedgeSettingsEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{hedgeSettingsController.selected != null}">
                        <p:outputLabel value="#{configs.EditHedgeSettingsLabel_hedgeSettingID}" for="hedgeSettingID" />
                        <p:inputText id="hedgeSettingID" value="#{hedgeSettingsController.selected.hedgeSettingID}" title="#{configs.EditHedgeSettingsTitle_hedgeSettingID}" required="true" requiredMessage="#{configs.EditHedgeSettingsRequiredMessage_hedgeSettingID}"/>
                        <p:outputLabel value="#{configs.EditHedgeSettingsLabel_hedgeValue}" for="hedgeValue" />
                        <p:inputText id="hedgeValue" value="#{hedgeSettingsController.selected.hedgeValue}" title="#{configs.EditHedgeSettingsTitle_hedgeValue}" />
                        <p:outputLabel value="#{configs.EditHedgeSettingsLabel_hedgeApplicationDate}" for="hedgeApplicationDate" />
                        <p:calendar id="hedgeApplicationDate" pattern="MM/dd/yyyy HH:mm:ss" value="#{hedgeSettingsController.selected.hedgeApplicationDate}" title="#{configs.EditHedgeSettingsTitle_hedgeApplicationDate}"  showOn="button"/>
                        <p:outputLabel value="#{configs.EditHedgeSettingsLabel_hedgeLoggDate}" for="hedgeLoggDate" />
                        <p:calendar id="hedgeLoggDate" pattern="MM/dd/yyyy HH:mm:ss" value="#{hedgeSettingsController.selected.hedgeLoggDate}" title="#{configs.EditHedgeSettingsTitle_hedgeLoggDate}"  showOn="button"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{hedgeSettingsController.update}" value="#{configs.Save}" update="display,:HedgeSettingsListForm:datalist,:growl" oncomplete="handleSubmit(args, 'HedgeSettingsEditDialog');"/>
                    <p:commandButton value="#{configs.Cancel}" onclick="HedgeSettingsEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
