<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="HedgeSettingsViewDlg" widgetVar="HedgeSettingsViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.ViewHedgeSettingsTitle}">
            <h:form id="HedgeSettingsViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{hedgeSettingsController.selected != null}">
                        <h:outputText value="#{configs.ViewHedgeSettingsLabel_hedgeSettingID}"/>
                        <h:outputText value="#{hedgeSettingsController.selected.hedgeSettingID}" title="#{configs.ViewHedgeSettingsTitle_hedgeSettingID}"/>
                        <h:outputText value="#{configs.ViewHedgeSettingsLabel_hedgeValue}"/>
                        <h:outputText value="#{hedgeSettingsController.selected.hedgeValue}" title="#{configs.ViewHedgeSettingsTitle_hedgeValue}"/>
                        <h:outputText value="#{configs.ViewHedgeSettingsLabel_hedgeApplicationDate}"/>
                        <h:outputText value="#{hedgeSettingsController.selected.hedgeApplicationDate}" title="#{configs.ViewHedgeSettingsTitle_hedgeApplicationDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{configs.ViewHedgeSettingsLabel_hedgeLoggDate}"/>
                        <h:outputText value="#{hedgeSettingsController.selected.hedgeLoggDate}" title="#{configs.ViewHedgeSettingsTitle_hedgeLoggDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                    </p:panelGrid>
                    <p:commandButton value="#{configs.Close}" onclick="HedgeSettingsViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
