<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TransferCreateDlg" widgetVar="TransferCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.CreateTransferTitle}">
            <h:form id="TransferCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{transferController.selected != null}">
                        <p:outputLabel value="#{configs.CreateTransferLabel_transferID}" for="transferID" />
                        <p:inputText id="transferID" value="#{transferController.selected.transferID}" title="#{configs.CreateTransferTitle_transferID}" required="true" requiredMessage="#{configs.CreateTransferRequiredMessage_transferID}"/>
                        <p:outputLabel value="#{configs.CreateTransferLabel_transferCode}" for="transferCode" />
                        <p:inputText id="transferCode" value="#{transferController.selected.transferCode}" title="#{configs.CreateTransferTitle_transferCode}" required="true" requiredMessage="#{configs.CreateTransferRequiredMessage_transferCode}"/>
                        <p:outputLabel value="#{configs.CreateTransferLabel_sentAmount}" for="sentAmount" />
                        <p:inputText id="sentAmount" value="#{transferController.selected.sentAmount}" title="#{configs.CreateTransferTitle_sentAmount}" />
                        <p:outputLabel value="#{configs.CreateTransferLabel_commissionLevied}" for="commissionLevied" />
                        <p:inputText id="commissionLevied" value="#{transferController.selected.commissionLevied}" title="#{configs.CreateTransferTitle_commissionLevied}" />
                        <p:outputLabel value="#{configs.CreateTransferLabel_receipientAmount}" for="receipientAmount" />
                        <p:inputText id="receipientAmount" value="#{transferController.selected.receipientAmount}" title="#{configs.CreateTransferTitle_receipientAmount}" />
                        <p:outputLabel value="#{configs.CreateTransferLabel_transferDate}" for="transferDate" />
                        <p:calendar id="transferDate" pattern="MM/dd/yyyy HH:mm:ss" value="#{transferController.selected.transferDate}" title="#{configs.EditTransferTitle_transferDate}"  showOn="button"/>
                        <p:outputLabel value="#{configs.CreateTransferLabel_cardTransactionDets}" for="cardTransactionDets" />
                        <p:selectOneMenu id="cardTransactionDets" value="#{transferController.selected.cardTransactionDets}" >
                            <f:selectItems value="#{cardTransactionsController.itemsAvailableSelectOne}"
                                           var="cardTransactionDetsItem"
                                           itemValue="#{cardTransactionDetsItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{configs.CreateTransferLabel_paymentChannel}" for="paymentChannel" />
                        <p:selectOneMenu id="paymentChannel" value="#{transferController.selected.paymentChannel}" >
                            <f:selectItems value="#{paymentChannelsController.itemsAvailableSelectOne}"
                                           var="paymentChannelItem"
                                           itemValue="#{paymentChannelItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{configs.CreateTransferLabel_receipientCurrency}" for="receipientCurrency" />
                        <p:selectOneMenu id="receipientCurrency" value="#{transferController.selected.receipientCurrency}" >
                            <f:selectItems value="#{currenciesController.itemsAvailableSelectOne}"
                                           var="receipientCurrencyItem"
                                           itemValue="#{receipientCurrencyItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{configs.CreateTransferLabel_sendCurrency}" for="sendCurrency" />
                        <p:selectOneMenu id="sendCurrency" value="#{transferController.selected.sendCurrency}" >
                            <f:selectItems value="#{currenciesController.itemsAvailableSelectOne}"
                                           var="sendCurrencyItem"
                                           itemValue="#{sendCurrencyItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{configs.CreateTransferLabel_receipient}" for="receipient" />
                        <p:selectOneMenu id="receipient" value="#{transferController.selected.receipient}" >
                            <f:selectItems value="#{receipientsController.itemsAvailableSelectOne}"
                                           var="receipientItem"
                                           itemValue="#{receipientItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{configs.CreateTransferLabel_initiator}" for="initiator" />
                        <p:selectOneMenu id="initiator" value="#{transferController.selected.initiator}" >
                            <f:selectItems value="#{customerController.itemsAvailableSelectOne}"
                                           var="initiatorItem"
                                           itemValue="#{initiatorItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{configs.CreateTransferLabel_transferFxRate}" for="transferFxRate" />
                        <p:selectOneMenu id="transferFxRate" value="#{transferController.selected.transferFxRate}" >
                            <f:selectItems value="#{forexRatesController.itemsAvailableSelectOne}"
                                           var="transferFxRateItem"
                                           itemValue="#{transferFxRateItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{configs.CreateTransferLabel_transferStatus}" for="transferStatus" />
                        <p:selectOneMenu id="transferStatus" value="#{transferController.selected.transferStatus}" >
                            <f:selectItems value="#{transfersStatusController.itemsAvailableSelectOne}"
                                           var="transferStatusItem"
                                           itemValue="#{transferStatusItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{transferController.create}" value="#{configs.Save}" update="display,:TransferListForm:datalist,:growl" oncomplete="handleSubmit(args,'TransferCreateDialog');"/>
                    <p:commandButton value="#{configs.Cancel}" onclick="TransferCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
