<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/WEB-INF/templates/Framework.xhtml">


        <ui:define name="body">

            <h3 class="page-title">
                Welcome to Epay Kenya <small>the better option</small>
            </h3>
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="#">Home</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Transfers</a>
                    </li>
                </ul>

            </div>
            <!-- END PAGE HEADER-->

            <h1 class="page-header "> <i class="fa fa-tachometer"></i> Transfers</h1>
            <div class="row">
                <div class="col-md-12">
                    <div class="note note-success">
                        <p>
                            Please click <i class="icon-logout"></i> icon on the header's right top to toggle the quick sidebar.
                        </p>
                    </div>

                    <h:form id="TransferListForm">

                        <p:dataTable id="datalist" value="#{transferController.items}" var="item"
                                     selectionMode="single" selection="#{transferController.selected}"
                                     paginator="true"
                                     rowKey="#{item.transferID}"
                                     rows="10"
                                     rowsPerPageTemplate="10,20,30,40,50"
                                     >

                            <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                            <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListTransferTitle_transferID}"/>
                                </f:facet>
                                <h:outputText value="#{item.transferID}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListTransferTitle_transferCode}"/>
                                </f:facet>
                                <h:outputText value="#{item.transferCode}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListTransferTitle_sentAmount}"/>
                                </f:facet>
                                <h:outputText value="#{item.sentAmount}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListTransferTitle_commissionLevied}"/>
                                </f:facet>
                                <h:outputText value="#{item.commissionLevied}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListTransferTitle_receipientAmount}"/>
                                </f:facet>
                                <h:outputText value="#{item.receipientAmount}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListTransferTitle_transferDate}"/>
                                </f:facet>
                                <h:outputText value="#{item.transferDate}">
                                    <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListTransferTitle_cardTransactionDets}"/>
                                </f:facet>
                                <h:outputText value="#{item.cardTransactionDets}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListTransferTitle_paymentChannel}"/>
                                </f:facet>
                                <h:outputText value="#{item.paymentChannel}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListTransferTitle_receipientCurrency}"/>
                                </f:facet>
                                <h:outputText value="#{item.receipientCurrency}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListTransferTitle_sendCurrency}"/>
                                </f:facet>
                                <h:outputText value="#{item.sendCurrency}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListTransferTitle_receipient}"/>
                                </f:facet>
                                <h:outputText value="#{item.receipient}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListTransferTitle_initiator}"/>
                                </f:facet>
                                <h:outputText value="#{item.initiator}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListTransferTitle_transferFxRate}"/>
                                </f:facet>
                                <h:outputText value="#{item.transferFxRate}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListTransferTitle_transferStatus}"/>
                                </f:facet>
                                <h:outputText value="#{item.transferStatus}"/>
                            </p:column>
                            <f:facet name="footer">
                                <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{configs.Create}" actionListener="#{transferController.prepareCreate}" update=":TransferCreateForm" oncomplete="PF('TransferCreateDialog').show()"/>
                                <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{configs.View}" update=":TransferViewForm" oncomplete="PF('TransferViewDialog').show()" disabled="#{empty transferController.selected}"/>
                                <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{configs.Edit}" update=":TransferEditForm" oncomplete="PF('TransferEditDialog').show()" disabled="#{empty transferController.selected}"/>
                                <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{configs.Delete}" actionListener="#{transferController.destroy}" update=":growl,datalist" disabled="#{empty transferController.selected}"/>
                            </f:facet>
                        </p:dataTable>

                    </h:form>

                    <ui:include src="Create.xhtml"/>
                    <ui:include src="Edit.xhtml"/>
                    <ui:include src="View.xhtml"/>

                </div>
            </div>

        </ui:define>

    </ui:composition>    
</html>