<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TransferViewDlg" widgetVar="TransferViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.ViewTransferTitle}">
            <h:form id="TransferViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{transferController.selected != null}">
                        <h:outputText value="#{configs.ViewTransferLabel_transferID}"/>
                        <h:outputText value="#{transferController.selected.transferID}" title="#{configs.ViewTransferTitle_transferID}"/>
                        <h:outputText value="#{configs.ViewTransferLabel_transferCode}"/>
                        <h:outputText value="#{transferController.selected.transferCode}" title="#{configs.ViewTransferTitle_transferCode}"/>
                        <h:outputText value="#{configs.ViewTransferLabel_sentAmount}"/>
                        <h:outputText value="#{transferController.selected.sentAmount}" title="#{configs.ViewTransferTitle_sentAmount}"/>
                        <h:outputText value="#{configs.ViewTransferLabel_commissionLevied}"/>
                        <h:outputText value="#{transferController.selected.commissionLevied}" title="#{configs.ViewTransferTitle_commissionLevied}"/>
                        <h:outputText value="#{configs.ViewTransferLabel_receipientAmount}"/>
                        <h:outputText value="#{transferController.selected.receipientAmount}" title="#{configs.ViewTransferTitle_receipientAmount}"/>
                        <h:outputText value="#{configs.ViewTransferLabel_transferDate}"/>
                        <h:outputText value="#{transferController.selected.transferDate}" title="#{configs.ViewTransferTitle_transferDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{configs.ViewTransferLabel_cardTransactionDets}"/>
                        <h:outputText value="#{transferController.selected.cardTransactionDets}" title="#{configs.ViewTransferTitle_cardTransactionDets}"/>
                        <h:outputText value="#{configs.ViewTransferLabel_paymentChannel}"/>
                        <h:outputText value="#{transferController.selected.paymentChannel}" title="#{configs.ViewTransferTitle_paymentChannel}"/>
                        <h:outputText value="#{configs.ViewTransferLabel_receipientCurrency}"/>
                        <h:outputText value="#{transferController.selected.receipientCurrency}" title="#{configs.ViewTransferTitle_receipientCurrency}"/>
                        <h:outputText value="#{configs.ViewTransferLabel_sendCurrency}"/>
                        <h:outputText value="#{transferController.selected.sendCurrency}" title="#{configs.ViewTransferTitle_sendCurrency}"/>
                        <h:outputText value="#{configs.ViewTransferLabel_receipient}"/>
                        <h:outputText value="#{transferController.selected.receipient}" title="#{configs.ViewTransferTitle_receipient}"/>
                        <h:outputText value="#{configs.ViewTransferLabel_initiator}"/>
                        <h:outputText value="#{transferController.selected.initiator}" title="#{configs.ViewTransferTitle_initiator}"/>
                        <h:outputText value="#{configs.ViewTransferLabel_transferFxRate}"/>
                        <h:outputText value="#{transferController.selected.transferFxRate}" title="#{configs.ViewTransferTitle_transferFxRate}"/>
                        <h:outputText value="#{configs.ViewTransferLabel_transferStatus}"/>
                        <h:outputText value="#{transferController.selected.transferStatus}" title="#{configs.ViewTransferTitle_transferStatus}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{configs.Close}" onclick="TransferViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
