<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PaymentChannelsCreateDlg" widgetVar="PaymentChannelsCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.CreatePaymentChannelsTitle}">
            <h:form id="PaymentChannelsCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{paymentChannelsController.selected != null}">
                        <p:outputLabel value="#{configs.CreatePaymentChannelsLabel_channelID}" for="channelID" />
                        <p:inputText id="channelID" value="#{paymentChannelsController.selected.channelID}" title="#{configs.CreatePaymentChannelsTitle_channelID}" required="true" requiredMessage="#{configs.CreatePaymentChannelsRequiredMessage_channelID}"/>
                        <p:outputLabel value="#{configs.CreatePaymentChannelsLabel_channelName}" for="channelName" />
                        <p:inputText id="channelName" value="#{paymentChannelsController.selected.channelName}" title="#{configs.CreatePaymentChannelsTitle_channelName}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{paymentChannelsController.create}" value="#{configs.Save}" update="display,:PaymentChannelsListForm:datalist,:growl" oncomplete="handleSubmit(args,'PaymentChannelsCreateDialog');"/>
                    <p:commandButton value="#{configs.Cancel}" onclick="PaymentChannelsCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
