<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PaymentChannelsEditDlg" widgetVar="PaymentChannelsEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.EditPaymentChannelsTitle}">
            <h:form id="PaymentChannelsEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{paymentChannelsController.selected != null}">
                        <p:outputLabel value="#{configs.EditPaymentChannelsLabel_channelID}" for="channelID" />
                        <p:inputText id="channelID" value="#{paymentChannelsController.selected.channelID}" title="#{configs.EditPaymentChannelsTitle_channelID}" required="true" requiredMessage="#{configs.EditPaymentChannelsRequiredMessage_channelID}"/>
                        <p:outputLabel value="#{configs.EditPaymentChannelsLabel_channelName}" for="channelName" />
                        <p:inputText id="channelName" value="#{paymentChannelsController.selected.channelName}" title="#{configs.EditPaymentChannelsTitle_channelName}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{paymentChannelsController.update}" value="#{configs.Save}" update="display,:PaymentChannelsListForm:datalist,:growl" oncomplete="handleSubmit(args, 'PaymentChannelsEditDialog');"/>
                    <p:commandButton value="#{configs.Cancel}" onclick="PaymentChannelsEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
