<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PaymentChannelsViewDlg" widgetVar="PaymentChannelsViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.ViewPaymentChannelsTitle}">
            <h:form id="PaymentChannelsViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{paymentChannelsController.selected != null}">
                        <h:outputText value="#{configs.ViewPaymentChannelsLabel_channelID}"/>
                        <h:outputText value="#{paymentChannelsController.selected.channelID}" title="#{configs.ViewPaymentChannelsTitle_channelID}"/>
                        <h:outputText value="#{configs.ViewPaymentChannelsLabel_channelName}"/>
                        <h:outputText value="#{paymentChannelsController.selected.channelName}" title="#{configs.ViewPaymentChannelsTitle_channelName}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{configs.Close}" onclick="PaymentChannelsViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
