<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsersProfilesCreateDlg" widgetVar="UsersProfilesCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.CreateUsersProfilesTitle}">
            <h:form id="UsersProfilesCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usersProfilesController.selected != null}">
                        <p:outputLabel value="#{configs.CreateUsersProfilesLabel_userProfileID}" for="userProfileID" />
                        <p:inputText id="userProfileID" value="#{usersProfilesController.selected.userProfileID}" title="#{configs.CreateUsersProfilesTitle_userProfileID}" required="true" requiredMessage="#{configs.CreateUsersProfilesRequiredMessage_userProfileID}"/>
                        <p:outputLabel value="#{configs.CreateUsersProfilesLabel_userName}" for="userName" />
                        <p:inputText id="userName" value="#{usersProfilesController.selected.userName}" title="#{configs.CreateUsersProfilesTitle_userName}" />
                        <p:outputLabel value="#{configs.CreateUsersProfilesLabel_passCode}" for="passCode" />
                        <p:inputText id="passCode" value="#{usersProfilesController.selected.passCode}" title="#{configs.CreateUsersProfilesTitle_passCode}" />
                        <p:outputLabel value="#{configs.CreateUsersProfilesLabel_roleDets}" for="roleDets" />
                        <p:selectOneMenu id="roleDets" value="#{usersProfilesController.selected.roleDets}" >
                            <f:selectItems value="#{rolesCenterController.itemsAvailableSelectOne}"
                                           var="roleDetsItem"
                                           itemValue="#{roleDetsItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{configs.CreateUsersProfilesLabel_userDetails}" for="userDetails" />
                        <p:selectOneMenu id="userDetails" value="#{usersProfilesController.selected.userDetails}" >
                            <f:selectItems value="#{employeesController.itemsAvailableSelectOne}"
                                           var="userDetailsItem"
                                           itemValue="#{userDetailsItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{configs.CreateUsersProfilesLabel_customerDets}" for="customerDets" />
                        <p:selectOneMenu id="customerDets" value="#{usersProfilesController.selected.customerDets}" >
                            <f:selectItems value="#{customerController.itemsAvailableSelectOne}"
                                           var="customerDetsItem"
                                           itemValue="#{customerDetsItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{configs.CreateUsersProfilesLabel_userType}" for="userType" />
                        <p:selectOneMenu id="userType" value="#{usersProfilesController.selected.userType}" >
                            <f:selectItems value="#{usersTypesController.itemsAvailableSelectOne}"
                                           var="userTypeItem"
                                           itemValue="#{userTypeItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usersProfilesController.create}" value="#{configs.Save}" update="display,:UsersProfilesListForm:datalist,:growl" oncomplete="handleSubmit(args,'UsersProfilesCreateDialog');"/>
                    <p:commandButton value="#{configs.Cancel}" onclick="UsersProfilesCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
