<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/WEB-INF/templates/Framework.xhtml">


        <ui:define name="body">

            <h3 class="page-title">
                Welcome to Epay Kenya <small>the better option</small>
            </h3>
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="#">Home</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Users Profiles</a>
                    </li>
                </ul>

            </div>
            <!-- END PAGE HEADER-->

            <h1 class="page-header "> <i class="fa fa-tachometer"></i> Users Profiles</h1>
            <div class="row">
                <div class="col-md-12">
                    <div class="note note-success">
                        <p>
                            Please click <i class="icon-logout"></i> icon on the header's right top to toggle the quick sidebar.
                        </p>
                    </div>

                    <h:form id="UsersProfilesListForm">

                        <p:dataTable id="datalist" value="#{usersProfilesController.items}" var="item"
                                     selectionMode="single" selection="#{usersProfilesController.selected}"
                                     paginator="true"
                                     rowKey="#{item.userProfileID}"
                                     rows="10"
                                     rowsPerPageTemplate="10,20,30,40,50"
                                     >

                            <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                            <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListUsersProfilesTitle_userProfileID}"/>
                                </f:facet>
                                <h:outputText value="#{item.userProfileID}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListUsersProfilesTitle_userName}"/>
                                </f:facet>
                                <h:outputText value="#{item.userName}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListUsersProfilesTitle_passCode}"/>
                                </f:facet>
                                <h:outputText value="#{item.passCode}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListUsersProfilesTitle_roleDets}"/>
                                </f:facet>
                                <h:outputText value="#{item.roleDets}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListUsersProfilesTitle_userDetails}"/>
                                </f:facet>
                                <h:outputText value="#{item.userDetails}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListUsersProfilesTitle_customerDets}"/>
                                </f:facet>
                                <h:outputText value="#{item.customerDets}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListUsersProfilesTitle_userType}"/>
                                </f:facet>
                                <h:outputText value="#{item.userType}"/>
                            </p:column>
                            <f:facet name="footer">
                                <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{configs.Create}" actionListener="#{usersProfilesController.prepareCreate}" update=":UsersProfilesCreateForm" oncomplete="PF('UsersProfilesCreateDialog').show()"/>
                                <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{configs.View}" update=":UsersProfilesViewForm" oncomplete="PF('UsersProfilesViewDialog').show()" disabled="#{empty usersProfilesController.selected}"/>
                                <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{configs.Edit}" update=":UsersProfilesEditForm" oncomplete="PF('UsersProfilesEditDialog').show()" disabled="#{empty usersProfilesController.selected}"/>
                                <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{configs.Delete}" actionListener="#{usersProfilesController.destroy}" update=":growl,datalist" disabled="#{empty usersProfilesController.selected}"/>
                            </f:facet>
                        </p:dataTable>

                    </h:form>

                    <ui:include src="Create.xhtml"/>
                    <ui:include src="Edit.xhtml"/>
                    <ui:include src="View.xhtml"/>

                </div>
            </div>

        </ui:define>

    </ui:composition>    
</html>
