<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsersProfilesViewDlg" widgetVar="UsersProfilesViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.ViewUsersProfilesTitle}">
            <h:form id="UsersProfilesViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usersProfilesController.selected != null}">
                        <h:outputText value="#{configs.ViewUsersProfilesLabel_userProfileID}"/>
                        <h:outputText value="#{usersProfilesController.selected.userProfileID}" title="#{configs.ViewUsersProfilesTitle_userProfileID}"/>
                        <h:outputText value="#{configs.ViewUsersProfilesLabel_userName}"/>
                        <h:outputText value="#{usersProfilesController.selected.userName}" title="#{configs.ViewUsersProfilesTitle_userName}"/>
                        <h:outputText value="#{configs.ViewUsersProfilesLabel_passCode}"/>
                        <h:outputText value="#{usersProfilesController.selected.passCode}" title="#{configs.ViewUsersProfilesTitle_passCode}"/>
                        <h:outputText value="#{configs.ViewUsersProfilesLabel_roleDets}"/>
                        <h:outputText value="#{usersProfilesController.selected.roleDets}" title="#{configs.ViewUsersProfilesTitle_roleDets}"/>
                        <h:outputText value="#{configs.ViewUsersProfilesLabel_userDetails}"/>
                        <h:outputText value="#{usersProfilesController.selected.userDetails}" title="#{configs.ViewUsersProfilesTitle_userDetails}"/>
                        <h:outputText value="#{configs.ViewUsersProfilesLabel_customerDets}"/>
                        <h:outputText value="#{usersProfilesController.selected.customerDets}" title="#{configs.ViewUsersProfilesTitle_customerDets}"/>
                        <h:outputText value="#{configs.ViewUsersProfilesLabel_userType}"/>
                        <h:outputText value="#{usersProfilesController.selected.userType}" title="#{configs.ViewUsersProfilesTitle_userType}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{configs.Close}" onclick="UsersProfilesViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
