<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsersActivitiesEditDlg" widgetVar="UsersActivitiesEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.EditUsersActivitiesTitle}">
            <h:form id="UsersActivitiesEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usersActivitiesController.selected != null}">
                        <p:outputLabel value="#{configs.EditUsersActivitiesLabel_usersActivitiesID}" for="usersActivitiesID" />
                        <p:inputText id="usersActivitiesID" value="#{usersActivitiesController.selected.usersActivitiesID}" title="#{configs.EditUsersActivitiesTitle_usersActivitiesID}" required="true" requiredMessage="#{configs.EditUsersActivitiesRequiredMessage_usersActivitiesID}"/>
                        <p:outputLabel value="#{configs.EditUsersActivitiesLabel_usersActivity}" for="usersActivity" />
                        <p:inputTextarea rows="4" cols="30" id="usersActivity" value="#{usersActivitiesController.selected.usersActivity}" title="#{configs.EditUsersActivitiesTitle_usersActivity}" />
                        <p:outputLabel value="#{configs.EditUsersActivitiesLabel_activityLogDate}" for="activityLogDate" />
                        <p:calendar id="activityLogDate" pattern="MM/dd/yyyy HH:mm:ss" value="#{usersActivitiesController.selected.activityLogDate}" title="#{configs.EditUsersActivitiesTitle_activityLogDate}"  showOn="button"/>
                        <p:outputLabel value="#{configs.EditUsersActivitiesLabel_userInformation}" for="userInformation" />
                        <p:selectOneMenu id="userInformation" value="#{usersActivitiesController.selected.userInformation}" >
                            <f:selectItem itemLabel="#{configs.SelectOneMessage}"/>
                            <f:selectItems value="#{usersProfilesController.itemsAvailableSelectOne}"
                                           var="userInformationItem"
                                           itemValue="#{userInformationItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usersActivitiesController.update}" value="#{configs.Save}" update="display,:UsersActivitiesListForm:datalist,:growl" oncomplete="handleSubmit(args, 'UsersActivitiesEditDialog');"/>
                    <p:commandButton value="#{configs.Cancel}" onclick="UsersActivitiesEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
