<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsersActivitiesViewDlg" widgetVar="UsersActivitiesViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.ViewUsersActivitiesTitle}">
            <h:form id="UsersActivitiesViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usersActivitiesController.selected != null}">
                        <h:outputText value="#{configs.ViewUsersActivitiesLabel_usersActivitiesID}"/>
                        <h:outputText value="#{usersActivitiesController.selected.usersActivitiesID}" title="#{configs.ViewUsersActivitiesTitle_usersActivitiesID}"/>
                        <h:outputText value="#{configs.ViewUsersActivitiesLabel_usersActivity}"/>
                        <h:outputText value="#{usersActivitiesController.selected.usersActivity}" title="#{configs.ViewUsersActivitiesTitle_usersActivity}"/>
                        <h:outputText value="#{configs.ViewUsersActivitiesLabel_activityLogDate}"/>
                        <h:outputText value="#{usersActivitiesController.selected.activityLogDate}" title="#{configs.ViewUsersActivitiesTitle_activityLogDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{configs.ViewUsersActivitiesLabel_userInformation}"/>
                        <h:outputText value="#{usersActivitiesController.selected.userInformation}" title="#{configs.ViewUsersActivitiesTitle_userInformation}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{configs.Close}" onclick="UsersActivitiesViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
