<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CardTransactionsEditDlg" widgetVar="CardTransactionsEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.EditCardTransactionsTitle}">
            <h:form id="CardTransactionsEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{cardTransactionsController.selected != null}">
                        <p:outputLabel value="#{configs.EditCardTransactionsLabel_cardDetailsID}" for="cardDetailsID" />
                        <p:inputText id="cardDetailsID" value="#{cardTransactionsController.selected.cardDetailsID}" title="#{configs.EditCardTransactionsTitle_cardDetailsID}" required="true" requiredMessage="#{configs.EditCardTransactionsRequiredMessage_cardDetailsID}"/>
                        <p:outputLabel value="#{configs.EditCardTransactionsLabel_deductedAmount}" for="deductedAmount" />
                        <p:inputText id="deductedAmount" value="#{cardTransactionsController.selected.deductedAmount}" title="#{configs.EditCardTransactionsTitle_deductedAmount}" />
                        <p:outputLabel value="#{configs.EditCardTransactionsLabel_transactionDate}" for="transactionDate" />
                        <p:calendar id="transactionDate" pattern="MM/dd/yyyy HH:mm:ss" value="#{cardTransactionsController.selected.transactionDate}" title="#{configs.EditCardTransactionsTitle_transactionDate}"  showOn="button"/>
                        <p:outputLabel value="#{configs.EditCardTransactionsLabel_transactionStamp}" for="transactionStamp" />
                        <p:calendar id="transactionStamp" pattern="MM/dd/yyyy HH:mm:ss" value="#{cardTransactionsController.selected.transactionStamp}" title="#{configs.EditCardTransactionsTitle_transactionStamp}"  showOn="button"/>
                        <p:outputLabel value="#{configs.EditCardTransactionsLabel_paymentCard}" for="paymentCard" />
                        <p:selectOneMenu id="paymentCard" value="#{cardTransactionsController.selected.paymentCard}" >
                            <f:selectItem itemLabel="#{configs.SelectOneMessage}"/>
                            <f:selectItems value="#{cardController.itemsAvailableSelectOne}"
                                           var="paymentCardItem"
                                           itemValue="#{paymentCardItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{cardTransactionsController.update}" value="#{configs.Save}" update="display,:CardTransactionsListForm:datalist,:growl" oncomplete="handleSubmit(args, 'CardTransactionsEditDialog');"/>
                    <p:commandButton value="#{configs.Cancel}" onclick="CardTransactionsEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
