<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/WEB-INF/templates/Framework.xhtml">


        <ui:define name="body">

            <h3 class="page-title">
                Welcome to Epay Kenya <small>the better option</small>
            </h3>
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="#">Home</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Cards Transactions</a>
                    </li>
                </ul>

            </div>
            <!-- END PAGE HEADER-->

            <h1 class="page-header "> <i class="fa fa-tachometer"></i> Card Transactions</h1>
            <div class="row">
                <div class="col-md-12">
                    <div class="note note-success">
                        <p>
                            Please click <i class="icon-logout"></i> icon on the header's right top to toggle the quick sidebar.
                        </p>
                    </div>

                    <h:form id="CardTransactionsListForm">

                        <p:dataTable id="datalist" value="#{cardTransactionsController.items}" var="item"
                                     selectionMode="single" selection="#{cardTransactionsController.selected}"
                                     paginator="true"
                                     rowKey="#{item.cardDetailsID}"
                                     rows="10"
                                     rowsPerPageTemplate="10,20,30,40,50"
                                     >

                            <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                            <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListCardTransactionsTitle_cardDetailsID}"/>
                                </f:facet>
                                <h:outputText value="#{item.cardDetailsID}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListCardTransactionsTitle_deductedAmount}"/>
                                </f:facet>
                                <h:outputText value="#{item.deductedAmount}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListCardTransactionsTitle_transactionDate}"/>
                                </f:facet>
                                <h:outputText value="#{item.transactionDate}">
                                    <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListCardTransactionsTitle_transactionStamp}"/>
                                </f:facet>
                                <h:outputText value="#{item.transactionStamp}">
                                    <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                                </h:outputText>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{configs.ListCardTransactionsTitle_paymentCard}"/>
                                </f:facet>
                                <h:outputText value="#{item.paymentCard}"/>
                            </p:column>
                            <f:facet name="footer">
                                <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{configs.Create}" actionListener="#{cardTransactionsController.prepareCreate}" update=":CardTransactionsCreateForm" oncomplete="PF('CardTransactionsCreateDialog').show()"/>
                                <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{configs.View}" update=":CardTransactionsViewForm" oncomplete="PF('CardTransactionsViewDialog').show()" disabled="#{empty cardTransactionsController.selected}"/>
                                <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{configs.Edit}" update=":CardTransactionsEditForm" oncomplete="PF('CardTransactionsEditDialog').show()" disabled="#{empty cardTransactionsController.selected}"/>
                                <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{configs.Delete}" actionListener="#{cardTransactionsController.destroy}" update=":growl,datalist" disabled="#{empty cardTransactionsController.selected}"/>
                            </f:facet>
                        </p:dataTable>

                    </h:form>

                    <ui:include src="Create.xhtml"/>
                    <ui:include src="Edit.xhtml"/>
                    <ui:include src="View.xhtml"/>

                </div>
            </div>

        </ui:define>

    </ui:composition>    
</html>