<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CardTransactionsViewDlg" widgetVar="CardTransactionsViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.ViewCardTransactionsTitle}">
            <h:form id="CardTransactionsViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{cardTransactionsController.selected != null}">
                        <h:outputText value="#{configs.ViewCardTransactionsLabel_cardDetailsID}"/>
                        <h:outputText value="#{cardTransactionsController.selected.cardDetailsID}" title="#{configs.ViewCardTransactionsTitle_cardDetailsID}"/>
                        <h:outputText value="#{configs.ViewCardTransactionsLabel_deductedAmount}"/>
                        <h:outputText value="#{cardTransactionsController.selected.deductedAmount}" title="#{configs.ViewCardTransactionsTitle_deductedAmount}"/>
                        <h:outputText value="#{configs.ViewCardTransactionsLabel_transactionDate}"/>
                        <h:outputText value="#{cardTransactionsController.selected.transactionDate}" title="#{configs.ViewCardTransactionsTitle_transactionDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{configs.ViewCardTransactionsLabel_transactionStamp}"/>
                        <h:outputText value="#{cardTransactionsController.selected.transactionStamp}" title="#{configs.ViewCardTransactionsTitle_transactionStamp}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{configs.ViewCardTransactionsLabel_paymentCard}"/>
                        <h:outputText value="#{cardTransactionsController.selected.paymentCard}" title="#{configs.ViewCardTransactionsTitle_paymentCard}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{configs.Close}" onclick="CardTransactionsViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
