<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TransfersLogEditDlg" widgetVar="TransfersLogEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.EditTransfersLogTitle}">
            <h:form id="TransfersLogEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{transfersLogController.selected != null}">
                        <p:outputLabel value="#{configs.EditTransfersLogLabel_transfersLogID}" for="transfersLogID" />
                        <p:inputText id="transfersLogID" value="#{transfersLogController.selected.transfersLogID}" title="#{configs.EditTransfersLogTitle_transfersLogID}" required="true" requiredMessage="#{configs.EditTransfersLogRequiredMessage_transfersLogID}"/>
                        <p:outputLabel value="#{configs.EditTransfersLogLabel_logDate}" for="logDate" />
                        <p:calendar id="logDate" pattern="MM/dd/yyyy HH:mm:ss" value="#{transfersLogController.selected.logDate}" title="#{configs.EditTransfersLogTitle_logDate}"  showOn="button"/>
                        <p:outputLabel value="#{configs.EditTransfersLogLabel_logActivity}" for="logActivity" />
                        <p:inputTextarea rows="4" cols="30" id="logActivity" value="#{transfersLogController.selected.logActivity}" title="#{configs.EditTransfersLogTitle_logActivity}" />
                        <p:outputLabel value="#{configs.EditTransfersLogLabel_transferInfo}" for="transferInfo" />
                        <p:selectOneMenu id="transferInfo" value="#{transfersLogController.selected.transferInfo}" >
                            <f:selectItem itemLabel="#{configs.SelectOneMessage}"/>
                            <f:selectItems value="#{transferController.itemsAvailableSelectOne}"
                                           var="transferInfoItem"
                                           itemValue="#{transferInfoItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{transfersLogController.update}" value="#{configs.Save}" update="display,:TransfersLogListForm:datalist,:growl" oncomplete="handleSubmit(args, 'TransfersLogEditDialog');"/>
                    <p:commandButton value="#{configs.Cancel}" onclick="TransfersLogEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
