<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TransfersLogViewDlg" widgetVar="TransfersLogViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.ViewTransfersLogTitle}">
            <h:form id="TransfersLogViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{transfersLogController.selected != null}">
                        <h:outputText value="#{configs.ViewTransfersLogLabel_transfersLogID}"/>
                        <h:outputText value="#{transfersLogController.selected.transfersLogID}" title="#{configs.ViewTransfersLogTitle_transfersLogID}"/>
                        <h:outputText value="#{configs.ViewTransfersLogLabel_logDate}"/>
                        <h:outputText value="#{transfersLogController.selected.logDate}" title="#{configs.ViewTransfersLogTitle_logDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{configs.ViewTransfersLogLabel_logActivity}"/>
                        <h:outputText value="#{transfersLogController.selected.logActivity}" title="#{configs.ViewTransfersLogTitle_logActivity}"/>
                        <h:outputText value="#{configs.ViewTransfersLogLabel_transferInfo}"/>
                        <h:outputText value="#{transfersLogController.selected.transferInfo}" title="#{configs.ViewTransfersLogTitle_transferInfo}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{configs.Close}" onclick="TransfersLogViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
