<ui:composition template="/WEB-INF/templates/Framework.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="body">            

        <!-- 893400 Gatukuyu AC No Bill -->
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE HEADER-->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
            </ul>            
        </div>

        <h3 class="page-title">
            Dashboard <small>reports &amp; statistics</small>
        </h3>


        <div class="row">
            <div class="col-md-12">

                <div class="note note-success">
                    <p>
                        Please click <i class="icon-logout"></i> icon on the header's right top to toggle the quick sidebar.
                    </p>
                </div>

                <div class="row-fluid page-404">
                    <div class="span5 number">
                        404
                    </div>
                    <div class="span7 details">
                        <h3>Opps, You're lost.</h3>
                        <p>
                            We can not find the page you're looking for.<br />
                            Is there a typo in the url? Or try the search bar below.
                        </p>
                        <form action="extra_404.html#">
                            <div class="input-append">                      
                                <input class="m-wrap" size="16" type="text" placeholder="keyword..." />
                                <button class="btn blue">Search</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </ui:define>

</ui:composition>    