<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RolesStatusCreateDlg" widgetVar="RolesStatusCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.CreateRolesStatusTitle}">
            <h:form id="RolesStatusCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{rolesStatusController.selected != null}">
                        <p:outputLabel value="#{configs.CreateRolesStatusLabel_roleStatusID}" for="roleStatusID" />
                        <p:inputText id="roleStatusID" value="#{rolesStatusController.selected.roleStatusID}" title="#{configs.CreateRolesStatusTitle_roleStatusID}" required="true" requiredMessage="#{configs.CreateRolesStatusRequiredMessage_roleStatusID}"/>
                        <p:outputLabel value="#{configs.CreateRolesStatusLabel_rolesStatusDesc}" for="rolesStatusDesc" />
                        <p:inputText id="rolesStatusDesc" value="#{rolesStatusController.selected.rolesStatusDesc}" title="#{configs.CreateRolesStatusTitle_rolesStatusDesc}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{rolesStatusController.create}" value="#{configs.Save}" update="display,:RolesStatusListForm:datalist,:growl" oncomplete="handleSubmit(args,'RolesStatusCreateDialog');"/>
                    <p:commandButton value="#{configs.Cancel}" onclick="RolesStatusCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
