<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RolesStatusViewDlg" widgetVar="RolesStatusViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.ViewRolesStatusTitle}">
            <h:form id="RolesStatusViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{rolesStatusController.selected != null}">
                        <h:outputText value="#{configs.ViewRolesStatusLabel_roleStatusID}"/>
                        <h:outputText value="#{rolesStatusController.selected.roleStatusID}" title="#{configs.ViewRolesStatusTitle_roleStatusID}"/>
                        <h:outputText value="#{configs.ViewRolesStatusLabel_rolesStatusDesc}"/>
                        <h:outputText value="#{rolesStatusController.selected.rolesStatusDesc}" title="#{configs.ViewRolesStatusTitle_rolesStatusDesc}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{configs.Close}" onclick="RolesStatusViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
