<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SubModulesEditDlg" widgetVar="SubModulesEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.EditSubModulesTitle}">
            <h:form id="SubModulesEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{subModulesController.selected != null}">
                        <p:outputLabel value="#{configs.EditSubModulesLabel_subModuleID}" for="subModuleID" />
                        <p:inputText id="subModuleID" value="#{subModulesController.selected.subModuleID}" title="#{configs.EditSubModulesTitle_subModuleID}" required="true" requiredMessage="#{configs.EditSubModulesRequiredMessage_subModuleID}"/>
                        <p:outputLabel value="#{configs.EditSubModulesLabel_subModuleName}" for="subModuleName" />
                        <p:inputText id="subModuleName" value="#{subModulesController.selected.subModuleName}" title="#{configs.EditSubModulesTitle_subModuleName}" />
                        <p:outputLabel value="#{configs.EditSubModulesLabel_subModuleLink}" for="subModuleLink" />
                        <p:inputText id="subModuleLink" value="#{subModulesController.selected.subModuleLink}" title="#{configs.EditSubModulesTitle_subModuleLink}" />
                        <p:outputLabel value="#{configs.EditSubModulesLabel_subModulesIcon}" for="subModulesIcon" />
                        <p:inputText id="subModulesIcon" value="#{subModulesController.selected.subModulesIcon}" title="#{configs.EditSubModulesTitle_subModulesIcon}" />
                        <p:outputLabel value="#{configs.EditSubModulesLabel_subModuleLogDate}" for="subModuleLogDate" />
                        <p:calendar id="subModuleLogDate" pattern="MM/dd/yyyy HH:mm:ss" value="#{subModulesController.selected.subModuleLogDate}" title="#{configs.EditSubModulesTitle_subModuleLogDate}"  showOn="button"/>
                        <p:outputLabel value="#{configs.EditSubModulesLabel_moduleDetails}" for="moduleDetails" />
                        <p:selectOneMenu id="moduleDetails" value="#{subModulesController.selected.moduleDetails}" >
                            <f:selectItem itemLabel="#{configs.SelectOneMessage}"/>
                            <f:selectItems value="#{modulesController.itemsAvailableSelectOne}"
                                           var="moduleDetailsItem"
                                           itemValue="#{moduleDetailsItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{subModulesController.update}" value="#{configs.Save}" update="display,:SubModulesListForm:datalist,:growl" oncomplete="handleSubmit(args, 'SubModulesEditDialog');"/>
                    <p:commandButton value="#{configs.Cancel}" onclick="SubModulesEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
