<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SubModulesViewDlg" widgetVar="SubModulesViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.ViewSubModulesTitle}">
            <h:form id="SubModulesViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{subModulesController.selected != null}">
                        <h:outputText value="#{configs.ViewSubModulesLabel_subModuleID}"/>
                        <h:outputText value="#{subModulesController.selected.subModuleID}" title="#{configs.ViewSubModulesTitle_subModuleID}"/>
                        <h:outputText value="#{configs.ViewSubModulesLabel_subModuleName}"/>
                        <h:outputText value="#{subModulesController.selected.subModuleName}" title="#{configs.ViewSubModulesTitle_subModuleName}"/>
                        <h:outputText value="#{configs.ViewSubModulesLabel_subModuleLink}"/>
                        <h:outputText value="#{subModulesController.selected.subModuleLink}" title="#{configs.ViewSubModulesTitle_subModuleLink}"/>
                        <h:outputText value="#{configs.ViewSubModulesLabel_subModulesIcon}"/>
                        <h:outputText value="#{subModulesController.selected.subModulesIcon}" title="#{configs.ViewSubModulesTitle_subModulesIcon}"/>
                        <h:outputText value="#{configs.ViewSubModulesLabel_subModuleLogDate}"/>
                        <h:outputText value="#{subModulesController.selected.subModuleLogDate}" title="#{configs.ViewSubModulesTitle_subModuleLogDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{configs.ViewSubModulesLabel_moduleDetails}"/>
                        <h:outputText value="#{subModulesController.selected.moduleDetails}" title="#{configs.ViewSubModulesTitle_moduleDetails}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{configs.Close}" onclick="SubModulesViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
