<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="OrganizationTypeEditDlg" widgetVar="OrganizationTypeEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.EditOrganizationTypeTitle}">
            <h:form id="OrganizationTypeEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{organizationTypeController.selected != null}">
                        <p:outputLabel value="#{configs.EditOrganizationTypeLabel_organizationTypeID}" for="organizationTypeID" />
                        <p:inputText id="organizationTypeID" value="#{organizationTypeController.selected.organizationTypeID}" title="#{configs.EditOrganizationTypeTitle_organizationTypeID}" required="true" requiredMessage="#{configs.EditOrganizationTypeRequiredMessage_organizationTypeID}"/>
                        <p:outputLabel value="#{configs.EditOrganizationTypeLabel_organizationTypeDesc}" for="organizationTypeDesc" />
                        <p:inputText id="organizationTypeDesc" value="#{organizationTypeController.selected.organizationTypeDesc}" title="#{configs.EditOrganizationTypeTitle_organizationTypeDesc}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{organizationTypeController.update}" value="#{configs.Save}" update="display,:OrganizationTypeListForm:datalist,:growl" oncomplete="handleSubmit(args, 'OrganizationTypeEditDialog');"/>
                    <p:commandButton value="#{configs.Cancel}" onclick="OrganizationTypeEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
