<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="OrganizationTypeViewDlg" widgetVar="OrganizationTypeViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.ViewOrganizationTypeTitle}">
            <h:form id="OrganizationTypeViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{organizationTypeController.selected != null}">
                        <h:outputText value="#{configs.ViewOrganizationTypeLabel_organizationTypeID}"/>
                        <h:outputText value="#{organizationTypeController.selected.organizationTypeID}" title="#{configs.ViewOrganizationTypeTitle_organizationTypeID}"/>
                        <h:outputText value="#{configs.ViewOrganizationTypeLabel_organizationTypeDesc}"/>
                        <h:outputText value="#{organizationTypeController.selected.organizationTypeDesc}" title="#{configs.ViewOrganizationTypeTitle_organizationTypeDesc}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{configs.Close}" onclick="OrganizationTypeViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
