<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ForexRatesCreateDlg" widgetVar="ForexRatesCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.CreateForexRatesTitle}">
            <h:form id="ForexRatesCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{forexRatesController.selected != null}">
                        <p:outputLabel value="#{configs.CreateForexRatesLabel_forexRatesID}" for="forexRatesID" />
                        <p:inputText id="forexRatesID" value="#{forexRatesController.selected.forexRatesID}" title="#{configs.CreateForexRatesTitle_forexRatesID}" required="true" requiredMessage="#{configs.CreateForexRatesRequiredMessage_forexRatesID}"/>
                        <p:outputLabel value="#{configs.CreateForexRatesLabel_exchangeRate}" for="exchangeRate" />
                        <p:inputText id="exchangeRate" value="#{forexRatesController.selected.exchangeRate}" title="#{configs.CreateForexRatesTitle_exchangeRate}" />
                        <p:outputLabel value="#{configs.CreateForexRatesLabel_hedgeRate}" for="hedgeRate" />
                        <p:inputText id="hedgeRate" value="#{forexRatesController.selected.hedgeRate}" title="#{configs.CreateForexRatesTitle_hedgeRate}" />
                        <p:outputLabel value="#{configs.CreateForexRatesLabel_difference}" for="difference" />
                        <p:inputText id="difference" value="#{forexRatesController.selected.difference}" title="#{configs.CreateForexRatesTitle_difference}" />
                        <p:outputLabel value="#{configs.CreateForexRatesLabel_rateAppicationDate}" for="rateAppicationDate" />
                        <p:calendar id="rateAppicationDate" pattern="MM/dd/yyyy" value="#{forexRatesController.selected.rateAppicationDate}" title="#{configs.EditForexRatesTitle_rateAppicationDate}"  showOn="button"/>
                        <p:outputLabel value="#{configs.CreateForexRatesLabel_loggedBy}" for="loggedBy" />
                        <p:inputText id="loggedBy" value="#{forexRatesController.selected.loggedBy}" title="#{configs.CreateForexRatesTitle_loggedBy}" />
                        <p:outputLabel value="#{configs.CreateForexRatesLabel_loggedOn}" for="loggedOn" />
                        <p:calendar id="loggedOn" pattern="MM/dd/yyyy HH:mm:ss" value="#{forexRatesController.selected.loggedOn}" title="#{configs.EditForexRatesTitle_loggedOn}"  showOn="button"/>
                        <p:outputLabel value="#{configs.CreateForexRatesLabel_hedgeComputation}" for="hedgeComputation" />
                        <p:selectOneMenu id="hedgeComputation" value="#{forexRatesController.selected.hedgeComputation}" >
                            <f:selectItems value="#{hedgeSettingsController.itemsAvailableSelectOne}"
                                           var="hedgeComputationItem"
                                           itemValue="#{hedgeComputationItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{configs.CreateForexRatesLabel_toCurrency}" for="toCurrency" />
                        <p:selectOneMenu id="toCurrency" value="#{forexRatesController.selected.toCurrency}" >
                            <f:selectItems value="#{currenciesController.itemsAvailableSelectOne}"
                                           var="toCurrencyItem"
                                           itemValue="#{toCurrencyItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{configs.CreateForexRatesLabel_fromCurrency}" for="fromCurrency" />
                        <p:selectOneMenu id="fromCurrency" value="#{forexRatesController.selected.fromCurrency}" >
                            <f:selectItems value="#{currenciesController.itemsAvailableSelectOne}"
                                           var="fromCurrencyItem"
                                           itemValue="#{fromCurrencyItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{forexRatesController.create}" value="#{configs.Save}" update="display,:ForexRatesListForm:datalist,:growl" oncomplete="handleSubmit(args,'ForexRatesCreateDialog');"/>
                    <p:commandButton value="#{configs.Cancel}" onclick="ForexRatesCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
