<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ForexRatesViewDlg" widgetVar="ForexRatesViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.ViewForexRatesTitle}">
            <h:form id="ForexRatesViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{forexRatesController.selected != null}">
                        <h:outputText value="#{configs.ViewForexRatesLabel_forexRatesID}"/>
                        <h:outputText value="#{forexRatesController.selected.forexRatesID}" title="#{configs.ViewForexRatesTitle_forexRatesID}"/>
                        <h:outputText value="#{configs.ViewForexRatesLabel_exchangeRate}"/>
                        <h:outputText value="#{forexRatesController.selected.exchangeRate}" title="#{configs.ViewForexRatesTitle_exchangeRate}"/>
                        <h:outputText value="#{configs.ViewForexRatesLabel_hedgeRate}"/>
                        <h:outputText value="#{forexRatesController.selected.hedgeRate}" title="#{configs.ViewForexRatesTitle_hedgeRate}"/>
                        <h:outputText value="#{configs.ViewForexRatesLabel_difference}"/>
                        <h:outputText value="#{forexRatesController.selected.difference}" title="#{configs.ViewForexRatesTitle_difference}"/>
                        <h:outputText value="#{configs.ViewForexRatesLabel_rateAppicationDate}"/>
                        <h:outputText value="#{forexRatesController.selected.rateAppicationDate}" title="#{configs.ViewForexRatesTitle_rateAppicationDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{configs.ViewForexRatesLabel_loggedBy}"/>
                        <h:outputText value="#{forexRatesController.selected.loggedBy}" title="#{configs.ViewForexRatesTitle_loggedBy}"/>
                        <h:outputText value="#{configs.ViewForexRatesLabel_loggedOn}"/>
                        <h:outputText value="#{forexRatesController.selected.loggedOn}" title="#{configs.ViewForexRatesTitle_loggedOn}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{configs.ViewForexRatesLabel_hedgeComputation}"/>
                        <h:outputText value="#{forexRatesController.selected.hedgeComputation}" title="#{configs.ViewForexRatesTitle_hedgeComputation}"/>
                        <h:outputText value="#{configs.ViewForexRatesLabel_toCurrency}"/>
                        <h:outputText value="#{forexRatesController.selected.toCurrency}" title="#{configs.ViewForexRatesTitle_toCurrency}"/>
                        <h:outputText value="#{configs.ViewForexRatesLabel_fromCurrency}"/>
                        <h:outputText value="#{forexRatesController.selected.fromCurrency}" title="#{configs.ViewForexRatesTitle_fromCurrency}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{configs.Close}" onclick="ForexRatesViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
