<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ReceipientsCreateDlg" widgetVar="ReceipientsCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.CreateReceipientsTitle}">
            <h:form id="ReceipientsCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{receipientsController.selected != null}">
                        <p:outputLabel value="#{configs.CreateReceipientsLabel_receipientsID}" for="receipientsID" />
                        <p:inputText id="receipientsID" value="#{receipientsController.selected.receipientsID}" title="#{configs.CreateReceipientsTitle_receipientsID}" required="true" requiredMessage="#{configs.CreateReceipientsRequiredMessage_receipientsID}"/>
                        <p:outputLabel value="#{configs.CreateReceipientsLabel_firstName}" for="firstName" />
                        <p:inputText id="firstName" value="#{receipientsController.selected.firstName}" title="#{configs.CreateReceipientsTitle_firstName}" />
                        <p:outputLabel value="#{configs.CreateReceipientsLabel_lastName}" for="lastName" />
                        <p:inputText id="lastName" value="#{receipientsController.selected.lastName}" title="#{configs.CreateReceipientsTitle_lastName}" />
                        <p:outputLabel value="#{configs.CreateReceipientsLabel_email}" for="email" />
                        <p:inputText id="email" value="#{receipientsController.selected.email}" title="#{configs.CreateReceipientsTitle_email}" />
                        <p:outputLabel value="#{configs.CreateReceipientsLabel_city}" for="city" />
                        <p:inputText id="city" value="#{receipientsController.selected.city}" title="#{configs.CreateReceipientsTitle_city}" />
                        <p:outputLabel value="#{configs.CreateReceipientsLabel_zipCode}" for="zipCode" />
                        <p:inputText id="zipCode" value="#{receipientsController.selected.zipCode}" title="#{configs.CreateReceipientsTitle_zipCode}" />
                        <p:outputLabel value="#{configs.CreateReceipientsLabel_mobileCarrier}" for="mobileCarrier" />
                        <p:inputText id="mobileCarrier" value="#{receipientsController.selected.mobileCarrier}" title="#{configs.CreateReceipientsTitle_mobileCarrier}" />
                        <p:outputLabel value="#{configs.CreateReceipientsLabel_mobileNumber}" for="mobileNumber" />
                        <p:inputText id="mobileNumber" value="#{receipientsController.selected.mobileNumber}" title="#{configs.CreateReceipientsTitle_mobileNumber}" />
                        <p:outputLabel value="#{configs.CreateReceipientsLabel_walletInfo}" for="walletInfo" />
                        <p:selectOneMenu id="walletInfo" value="#{receipientsController.selected.walletInfo}" >
                            <f:selectItems value="#{receipientsWalletController.itemsAvailableSelectOne}"
                                           var="walletInfoItem"
                                           itemValue="#{walletInfoItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{configs.CreateReceipientsLabel_receipientOwner}" for="receipientOwner" />
                        <p:selectOneMenu id="receipientOwner" value="#{receipientsController.selected.receipientOwner}" >
                            <f:selectItems value="#{customerController.itemsAvailableSelectOne}"
                                           var="receipientOwnerItem"
                                           itemValue="#{receipientOwnerItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{configs.CreateReceipientsLabel_country}" for="country" />
                        <p:selectOneMenu id="country" value="#{receipientsController.selected.country}" >
                            <f:selectItems value="#{countriesController.itemsAvailableSelectOne}"
                                           var="countryItem"
                                           itemValue="#{countryItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{receipientsController.create}" value="#{configs.Save}" update="display,:ReceipientsListForm:datalist,:growl" oncomplete="handleSubmit(args,'ReceipientsCreateDialog');"/>
                    <p:commandButton value="#{configs.Cancel}" onclick="ReceipientsCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
