<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ReceipientsViewDlg" widgetVar="ReceipientsViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.ViewReceipientsTitle}">
            <h:form id="ReceipientsViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{receipientsController.selected != null}">
                        <h:outputText value="#{configs.ViewReceipientsLabel_receipientsID}"/>
                        <h:outputText value="#{receipientsController.selected.receipientsID}" title="#{configs.ViewReceipientsTitle_receipientsID}"/>
                        <h:outputText value="#{configs.ViewReceipientsLabel_firstName}"/>
                        <h:outputText value="#{receipientsController.selected.firstName}" title="#{configs.ViewReceipientsTitle_firstName}"/>
                        <h:outputText value="#{configs.ViewReceipientsLabel_lastName}"/>
                        <h:outputText value="#{receipientsController.selected.lastName}" title="#{configs.ViewReceipientsTitle_lastName}"/>
                        <h:outputText value="#{configs.ViewReceipientsLabel_email}"/>
                        <h:outputText value="#{receipientsController.selected.email}" title="#{configs.ViewReceipientsTitle_email}"/>
                        <h:outputText value="#{configs.ViewReceipientsLabel_city}"/>
                        <h:outputText value="#{receipientsController.selected.city}" title="#{configs.ViewReceipientsTitle_city}"/>
                        <h:outputText value="#{configs.ViewReceipientsLabel_zipCode}"/>
                        <h:outputText value="#{receipientsController.selected.zipCode}" title="#{configs.ViewReceipientsTitle_zipCode}"/>
                        <h:outputText value="#{configs.ViewReceipientsLabel_mobileCarrier}"/>
                        <h:outputText value="#{receipientsController.selected.mobileCarrier}" title="#{configs.ViewReceipientsTitle_mobileCarrier}"/>
                        <h:outputText value="#{configs.ViewReceipientsLabel_mobileNumber}"/>
                        <h:outputText value="#{receipientsController.selected.mobileNumber}" title="#{configs.ViewReceipientsTitle_mobileNumber}"/>
                        <h:outputText value="#{configs.ViewReceipientsLabel_walletInfo}"/>
                        <h:outputText value="#{receipientsController.selected.walletInfo}" title="#{configs.ViewReceipientsTitle_walletInfo}"/>
                        <h:outputText value="#{configs.ViewReceipientsLabel_receipientOwner}"/>
                        <h:outputText value="#{receipientsController.selected.receipientOwner}" title="#{configs.ViewReceipientsTitle_receipientOwner}"/>
                        <h:outputText value="#{configs.ViewReceipientsLabel_country}"/>
                        <h:outputText value="#{receipientsController.selected.country}" title="#{configs.ViewReceipientsTitle_country}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{configs.Close}" onclick="ReceipientsViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
