<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CommissionTypesEditDlg" widgetVar="CommissionTypesEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.EditCommissionTypesTitle}">
            <h:form id="CommissionTypesEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{commissionTypesController.selected != null}">
                        <p:outputLabel value="#{configs.EditCommissionTypesLabel_typeID}" for="typeID" />
                        <p:inputText id="typeID" value="#{commissionTypesController.selected.typeID}" title="#{configs.EditCommissionTypesTitle_typeID}" required="true" requiredMessage="#{configs.EditCommissionTypesRequiredMessage_typeID}"/>
                        <p:outputLabel value="#{configs.EditCommissionTypesLabel_typeDesc}" for="typeDesc" />
                        <p:inputText id="typeDesc" value="#{commissionTypesController.selected.typeDesc}" title="#{configs.EditCommissionTypesTitle_typeDesc}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{commissionTypesController.update}" value="#{configs.Save}" update="display,:CommissionTypesListForm:datalist,:growl" oncomplete="handleSubmit(args, 'CommissionTypesEditDialog');"/>
                    <p:commandButton value="#{configs.Cancel}" onclick="CommissionTypesEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
