<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CommissionTypesViewDlg" widgetVar="CommissionTypesViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.ViewCommissionTypesTitle}">
            <h:form id="CommissionTypesViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{commissionTypesController.selected != null}">
                        <h:outputText value="#{configs.ViewCommissionTypesLabel_typeID}"/>
                        <h:outputText value="#{commissionTypesController.selected.typeID}" title="#{configs.ViewCommissionTypesTitle_typeID}"/>
                        <h:outputText value="#{configs.ViewCommissionTypesLabel_typeDesc}"/>
                        <h:outputText value="#{commissionTypesController.selected.typeDesc}" title="#{configs.ViewCommissionTypesTitle_typeDesc}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{configs.Close}" onclick="CommissionTypesViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
