<ui:composition template="/WEB-INF/templates/Framework.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="body">            

        <!-- BEGIN PAGE HEADER-->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="index.html">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#">Welcome</a>
                </li>
            </ul>
        </div>
        <!-- END PAGE HEADER-->

         <h3 class="page-title">
            <i class="fa fa-tachometer"></i> Dashboard <small>reports &amp; statistics</small>
        </h3>
                   
        <div class="row">
            <div class="col-md-12">
                <div class="note note-success">
                    <p>
                        Please click <i class="icon-logout"></i> icon on the header's right top to toggle the quick sidebar.
                    </p>
                </div>
            </div>
        </div>

    </ui:define>

</ui:composition>    