<ui:composition template="/WEB-INF/templates/FrontEnd.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="body">  

        <div class="main">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li class="active">Create new account</li>
                </ul>
                <!-- BEGIN SIDEBAR & CONTENT -->
                <div class="row margin-bottom-40">
                    <!-- BEGIN SIDEBAR -->
                    <div class="sidebar col-md-3 col-sm-3">
                        <ul class="list-group margin-bottom-25 sidebar-menu">
                            <li class="list-group-item clearfix">
                                <a href="reset_password"><i class="fa fa-angle-right"></i> Restore Password</a>
                            </li>
                            <li class="list-group-item clearfix">
                                <a href="register"><i class="fa fa-angle-right"></i> My account</a>
                            </li>
                        </ul>
                    </div>
                    <!-- END SIDEBAR -->

                    <!-- BEGIN CONTENT -->

                    <div class="col-md-9 col-sm-9">

                        <h1>Create an account</h1>

                        <div class="content-form-page">

                            <div class="row">

                                <div class="col-md-12 col-sm-12">

                                    <h:form id="CustomerCreateForm" styleClass="form-horizontal">  
                                        
                                       <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" /> 
 
                                        <h:panelGroup id="display">
                                            <div class="form-body">

                                                <h3 class="form-section">Person Info</h3>

                                                <div class="row">

                                                    <!--/span-->
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <p:outputLabel  styleClass="col-lg-4 control-label" value="#{configs.CreateCustomerLabel_firstName}" for="firstName" />
                                                            <div class="col-lg-8">
                                                                <p:inputText styleClass="form-control" id="firstName" 
                                                                             value="#{customerController.customer.firstName}" 
                                                                             title="#{configs.CreateCustomerTitle_firstName}" 
                                                                             required="true"/>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <p:outputLabel  styleClass="col-lg-4 control-label" value="#{configs.CreateCustomerLabel_middleName}" for="middleName" />
                                                            <div class="col-lg-8">
                                                                <p:inputText styleClass="form-control" id="middleName" value="#{customerController.customer.middleName}" title="#{configs.CreateCustomerTitle_middleName}" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <p:outputLabel  styleClass="col-lg-4 control-label" value="#{configs.CreateCustomerLabel_otherName}" for="otherName" />
                                                            <div class="col-lg-8">
                                                                <p:inputText styleClass="form-control" id="otherName" 
                                                                             value="#{customerController.customer.otherName}" 
                                                                             title="#{configs.CreateCustomerTitle_otherName}" 
                                                                             required="true"/>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <p:outputLabel  styleClass="col-lg-4 control-label" value="#{configs.CreateCustomerLabel_nationality}" for="nationality" />
                                                            <div class="col-lg-8">
                                                                <p:selectOneMenu style="width: 100%;" id="nationality" 
                                                                                 value="#{customerController.customer.nationality}">
                                                                    <f:selectItems value="#{countriesController.itemsAvailableSelectOne}"
                                                                                   var="nationalityItem" 
                                                                                   itemLabel="#{nationalityItem.countryName}"
                                                                                   itemValue="#{nationalityItem}"/>
                                                                </p:selectOneMenu>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <h3 class="form-section">Contact Info</h3>

                                                <div class="row">

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <p:outputLabel  styleClass="col-lg-4 control-label" value="#{configs.CreateCustomerLabel_phoneNumber}" for="phoneNumber" />
                                                            <div class="col-lg-8">
                                                                <p:inputText styleClass="form-control" id="phoneNumber" 
                                                                             value="#{customerController.customer.phoneNumber}" 
                                                                             title="#{configs.CreateCustomerTitle_phoneNumber}" 
                                                                             required="true"/>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <p:outputLabel  styleClass="col-lg-4 control-label" value="#{configs.CreateCustomerLabel_address}" for="address" />
                                                            <div class="col-lg-8">
                                                                <p:inputText styleClass="form-control" id="address" 
                                                                             value="#{customerController.customer.address}" 
                                                                             title="#{configs.CreateCustomerTitle_address}" 
                                                                             />
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <p:outputLabel  styleClass="col-lg-2 control-label" value="#{configs.CreateCustomerLabel_email}" for="email" />
                                                            <div class="col-lg-10">
                                                                <p:inputText styleClass="form-control" id="email" 
                                                                             value="#{customerController.customer.email}" 
                                                                             title="#{configs.CreateCustomerTitle_email}" 
                                                                             required="true"/>
                                                            </div>
                                                        </div>
                                                    </div>                                                
                                                </div>


                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <p:outputLabel  styleClass="col-lg-4 control-label" value="#{configs.CreateCustomerLabel_zipCode}" for="zipCode" />
                                                            <div class="col-lg-8">
                                                                <p:inputText styleClass="form-control" id="zipCode" value="#{customerController.customer.zipCode}" title="#{configs.CreateCustomerTitle_zipCode}" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <p:outputLabel  styleClass="col-lg-4 control-label" value="#{configs.CreateCustomerLabel_city}" for="city" />
                                                            <div class="col-lg-8">
                                                                <p:inputText styleClass="form-control" id="city" value="#{customerController.customer.city}" title="#{configs.CreateCustomerTitle_city}" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="form-actions">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <div class="col-md-offset-3 col-md-9">
                                                                    <div class="default"> 
                                                                        <p:commandButton ajax="true" styleClass="btn" 
                                                                                         actionListener="#{customerController.selfRegister()}" 
                                                                                         value="#{configs.CreateAccount}" update="display"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </h:panelGroup>
                                    </h:form>                                       

                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- END CONTENT -->

                </div>
                <!-- END SIDEBAR & CONTENT -->
            </div>
        </div>
    </ui:define>
</ui:composition>