<ui:composition template="/WEB-INF/templates/FrontEnd.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="body">  

        <div class="main">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li class="active">Reset Password</li>
                </ul>
                <!-- BEGIN SIDEBAR & CONTENT -->
                <div class="row margin-bottom-40">
                    <!-- BEGIN SIDEBAR -->
                    <div class="sidebar col-md-3 col-sm-3">
                        <ul class="list-group margin-bottom-25 sidebar-menu">
                            <li class="list-group-item clearfix">
                                <a href="reset_password"><i class="fa fa-angle-right"></i> Restore Password</a>
                            </li>
                            <li class="list-group-item clearfix">
                                <a href="register"><i class="fa fa-angle-right"></i> My account</a>
                            </li>
                        </ul>
                    </div>
                    <!-- END SIDEBAR -->
                    <!-- BEGIN CONTENT -->

                    <div class="col-md-9 col-sm-9">

                        <h1>Reset Password</h1>

                        <div class="content-form-page">

                            <div class="row">

                                <div class="col-md-12 col-sm-12">

                                    <h:form id="CustomerCreateForm" styleClass="form-horizontal">                                         
                                        <h:panelGroup id="display">
                                            <div class="form-body">

                                                <div class="row">
                                                    <!--/span-->
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <p:outputLabel  styleClass="col-lg-4 control-label" value="#{configs.CreateUsersProfilesLabel_userName}" 
                                                                            for="userName" />
                                                            <div class="col-lg-8">
                                                                <p:inputText styleClass="form-control" id="userName" 
                                                                             value="#{usersProfilesController.usersProfile.userName}" 
                                                                             title="#{configs.CreateUsersProfilesTitle_userName}" 
                                                                             required="true"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-actions">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <div class="col-md-offset-3 col-md-9">
                                                                    <div class="default"> 
                                                                        <p:commandButton styleClass="btn" 
                                                                                         actionListener="#{customerController.create}" 
                                                                                         value="#{configs.ResetPasword}" update="display"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </h:panelGroup>
                                    </h:form>                                       

                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- END CONTENT -->

                </div>
                <!-- END SIDEBAR & CONTENT -->
            </div>
        </div>
    </ui:define>
</ui:composition>