<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CurrenciesCreateDlg" widgetVar="CurrenciesCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.CreateCurrenciesTitle}">
            <h:form id="CurrenciesCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{currenciesController.selected != null}">
                        <p:outputLabel value="#{configs.CreateCurrenciesLabel_currenciesID}" for="currenciesID" />
                        <p:inputText id="currenciesID" value="#{currenciesController.selected.currenciesID}" title="#{configs.CreateCurrenciesTitle_currenciesID}" required="true" requiredMessage="#{configs.CreateCurrenciesRequiredMessage_currenciesID}"/>
                        <p:outputLabel value="#{configs.CreateCurrenciesLabel_ISOCurrencyCode}" for="ISOCurrencyCode" />
                        <p:inputText id="ISOCurrencyCode" value="#{currenciesController.selected.ISOCurrencyCode}" title="#{configs.CreateCurrenciesTitle_ISOCurrencyCode}" />
                        <p:outputLabel value="#{configs.CreateCurrenciesLabel_currencyName}" for="currencyName" />
                        <p:inputText id="currencyName" value="#{currenciesController.selected.currencyName}" title="#{configs.CreateCurrenciesTitle_currencyName}" />
                        <p:outputLabel value="#{configs.CreateCurrenciesLabel_currencyBaseCountry}" for="currencyBaseCountry" />
                        <p:selectOneMenu id="currencyBaseCountry" value="#{currenciesController.selected.currencyBaseCountry}" >
                            <f:selectItems value="#{countriesController.itemsAvailableSelectOne}"
                                           var="currencyBaseCountryItem"
                                           itemValue="#{currencyBaseCountryItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{currenciesController.create}" value="#{configs.Save}" update="display,:CurrenciesListForm:datalist,:growl" oncomplete="handleSubmit(args,'CurrenciesCreateDialog');"/>
                    <p:commandButton value="#{configs.Cancel}" onclick="CurrenciesCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
