<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CurrenciesEditDlg" widgetVar="CurrenciesEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.EditCurrenciesTitle}">
            <h:form id="CurrenciesEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{currenciesController.selected != null}">
                        <p:outputLabel value="#{configs.EditCurrenciesLabel_currenciesID}" for="currenciesID" />
                        <p:inputText id="currenciesID" value="#{currenciesController.selected.currenciesID}" title="#{configs.EditCurrenciesTitle_currenciesID}" required="true" requiredMessage="#{configs.EditCurrenciesRequiredMessage_currenciesID}"/>
                        <p:outputLabel value="#{configs.EditCurrenciesLabel_ISOCurrencyCode}" for="ISOCurrencyCode" />
                        <p:inputText id="ISOCurrencyCode" value="#{currenciesController.selected.ISOCurrencyCode}" title="#{configs.EditCurrenciesTitle_ISOCurrencyCode}" />
                        <p:outputLabel value="#{configs.EditCurrenciesLabel_currencyName}" for="currencyName" />
                        <p:inputText id="currencyName" value="#{currenciesController.selected.currencyName}" title="#{configs.EditCurrenciesTitle_currencyName}" />
                        <p:outputLabel value="#{configs.EditCurrenciesLabel_currencyBaseCountry}" for="currencyBaseCountry" />
                        <p:selectOneMenu id="currencyBaseCountry" value="#{currenciesController.selected.currencyBaseCountry}" >
                            <f:selectItem itemLabel="#{configs.SelectOneMessage}"/>
                            <f:selectItems value="#{countriesController.itemsAvailableSelectOne}"
                                           var="currencyBaseCountryItem"
                                           itemValue="#{currencyBaseCountryItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{currenciesController.update}" value="#{configs.Save}" update="display,:CurrenciesListForm:datalist,:growl" oncomplete="handleSubmit(args, 'CurrenciesEditDialog');"/>
                    <p:commandButton value="#{configs.Cancel}" onclick="CurrenciesEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
