<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CurrenciesViewDlg" widgetVar="CurrenciesViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{configs.ViewCurrenciesTitle}">
            <h:form id="CurrenciesViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{currenciesController.selected != null}">
                        <h:outputText value="#{configs.ViewCurrenciesLabel_currenciesID}"/>
                        <h:outputText value="#{currenciesController.selected.currenciesID}" title="#{configs.ViewCurrenciesTitle_currenciesID}"/>
                        <h:outputText value="#{configs.ViewCurrenciesLabel_ISOCurrencyCode}"/>
                        <h:outputText value="#{currenciesController.selected.ISOCurrencyCode}" title="#{configs.ViewCurrenciesTitle_ISOCurrencyCode}"/>
                        <h:outputText value="#{configs.ViewCurrenciesLabel_currencyName}"/>
                        <h:outputText value="#{currenciesController.selected.currencyName}" title="#{configs.ViewCurrenciesTitle_currencyName}"/>
                        <h:outputText value="#{configs.ViewCurrenciesLabel_currencyBaseCountry}"/>
                        <h:outputText value="#{currenciesController.selected.currencyBaseCountry}" title="#{configs.ViewCurrenciesTitle_currencyBaseCountry}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{configs.Close}" onclick="CurrenciesViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
